.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.smallTag {margin:0 0 -3px 7px;}

.newsItem p {margin-top:12px}
.link {cursor:pointer}

.pagi {float:left; padding:2px 4px; margin-left:6px; border:1px solid #ccc; cursor:pointer }
.pagi.active {background:#178B52; color:#fff}

.afpPosCol {text-transform:capitalize;}

.sessBar {
	width:100%; 
	background:#178B52; 
	margin-bottom:10px;
	color:white;
	font-size:16px;
	padding: 6px 0;
	-webkit-border-right-top-radius: 6px; 
	-moz-border-top-right-radius: 6px; 
	border-top-right-radius: 6px;
	-webkit-border-left-top-radius: 6px; 
	-moz-border-top-left-radius: 6px; 
	border-top-left-radius: 6px;
}

.lowerSearch {padding-left:20px; cursor:pointer}

.lowerSession {padding-right:20px;}

tr.route {height:30px; cursor:pointer}


.lifetime {display:none}

.posText {text-transform:capitalize}

.hide {display:none;}

.yellow:hover, .yellow.active {background:#FFC324 !important; color:#fff !important; opacity: 1.0}
