<div id="rowInner">
    <div id="conBox">
        <div id="mainBox" class="rounded">
            <div class="sessBar ">
                <div class="lowerSearch left">^ New Search</div>
                <div id="rtBtn" class="  button btnDkGreen noHover right">
                    <select name="session" id="session" class="sessionList2">
                        <option value="NONE" selected="selected">Select Session</option>
                        <option value="114" >114th (2015 - 2016)</option>
                        <option value="113" >113th (2013 - 2014)</option>
                        <option value="112" >112th (2011 - 2012)</option>
                        <option value="111" >111th (2009 - 2010)</option>
                        <option value="110" >110th (2007 - 2008)</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <div id="mainInner" class="botRule">
                <h1>OVERALL RESULTS</h1>
                <div class="overallBtns left">
                    <div  class="button btnDkGreyWhite yellow left overallBtn active">Votes</div>
                    <div  class="button btnDkGreyWhite yellow left overallBtn route" data-role="allResultsMembers">Members</div>
                </div>
                <div id="sortDrop" class="button btnGrey noHover">
                    <select name="sortby" id="sortby" class="sortList overallSort">
                        <option value="NONE" selected="selected">Sort By</option>
                        <option value="issue">Issue</option>
                        <option value="vote_date">Date</option>
                        <option value="chamber">Chamber</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <script>
                $(function(){
                    $(".tooltiper").tooltip()
                })
            </script>
           
            <table border="0" cellspacing="0" cellpadding="0" id="resultsTbl" class="overallResults">
              <tr>
                <td class="padCol title"></td>
                <td class="tagCol title"><img src="<%= imagePath %>/icon-tag.png" width="25" height="22" /></td>
                <td class="vNumCol title">Vote#</td>
                <td class="chamberCol title">Chamber</td>
                <td class="dateCol title">Date</td>
                <td class="descripCol title">Description</td>
                <td class="gopAvgCol title">GOP Avg Grade</td>
                <td class="demAvgCol title">Dem Avg Grade</td>
                <td class="padCol title"></td>
              </tr>
              
              <% for(var i=0; i < results.length;i++) { %>
                   <%
                        var tipIssue = results[i].vote.issue;
                        switch(tipIssue){
                                case 'budget':
                                    tipIssue = 'Budget & Spending';
                                    break;
                                case 'energy':
                                    tipIssue = 'Energy & Environment';
                                    break;
                                case 'health':
                                    tipIssue = 'Health Care & Entitlements';
                                    break;
                                case 'taxes':
                                    tipIssue = 'Taxes';
                                    break;
                                case 'labor':
                                    tipIssue = 'Labor, Education & Pensions';
                                    break;
                                case 'banking':
                                    tipIssue = 'Banking & Financial Services';
                                    break;
                                case 'property':
                                    tipIssue = 'Property Rights';
                                    break;
                                case 'technology':
                                    tipIssue = 'Technology';
                                    break;
                        }
                   %>
              <tr class="route" data-role="vote#<%=results[i].vote.id%>" >
                <td class="padCol"></td>
                <td class="tagCol" ><i class="<%= results[i].vote.issue%>Icn tooltiper" data-toggle="tooltip" title="<%= tipIssue %>" ></i></td>
                <td class="vNumCol"><%= results[i].vote.roll_call%></td>
                <td class="chamberCol"><%= results[i].vote.chamber%></td>
                <td class="dateCol"><%= results[i].vote.vote_date%></td>
                <td class="descripCol"><%= unescape(results[i].vote.description)%></td>
                <td class="gopAvgCol"><%= results[i].ravg %>%</td>
                <td class="demAvgCol"><%= results[i].davg %>%</td>
                <td class="padCol"></td>
              </tr>
             <% } %>
            </table>
            
            
            
        </div>
        <br class="clear" />
    </div> <!--end conBox -->
    
</div>