<div id="rowInner">
    <div id="conBox">
        <div id="mainBox" class="rounded">
            <div class="sessBar ">
                <div class="lowerSearch left">^ New Search</div>
                <div id="rtBtn" class="  button btnDkGreen noHover right">
                    <select name="session" id="session" class="sessionList2">
                        <option value="NONE" selected="selected">Select Session</option>
                        <option value="114" >114th (2015 - 2016)</option>
                        <option value="113" >113th (2013 - 2014)</option>
                        <option value="112" >112th (2011 - 2012)</option>
                        <option value="111" >111th (2009 - 2010)</option>
                        <option value="110" >110th (2007 - 2008)</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <div id="mainInner" class="botRule">
                <h1>Search Results For <%= title %></h1>
                <div id="sortDrop" class="button btnGrey noHover">
                    <select name="sortby" id="sortby" class="sortList">
                        <option value="NONE" selected="selected">Sort By</option>
                        <option value="name">NAME</option>
                        <option value="state">STATE</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <table border="0" cellspacing="0" cellpadding="0" id="resultsTbl">
              <tr>
                <td class="padCol title"></td>
                <td class="nameCol title">Name</td>
                <td class="stateCol title">State</td>
                <td class="districtCol title">District</td>
                <td class="partyCol title">Party</td>
                <td class="cGradeCol title">Current Grade</td>
                <td class="lGradeCol title">Lifetime Grade</td>
                <td class="padCol title"></td>
              </tr>
              <% for(var i=0; i < results.length;i++) { %>
                  <tr class="route" data-role="member#<%= results[i].member.congID %>#<%= results[i].member.chamber %>">
                    <% var title = (results[i].member.chamber == 'house') ? 'Rep.' : 'Sen.'; %>
                    <td class="padCol"></td>
                    <td class="nameCol"><%= title %> <%= results[i].member.fName %> <%= results[i].member.lName %> </td>
                    <td class="stateCol"><%= results[i].member.state %></td>
                    <td class="districtCol"><%= results[i].member.district %></td>
                    <td class="partyCol"><%= results[i].member.party %></td>
                    <td class="cGradeCol"><%= results[i].scores.score %>%</td>
                    <td class="lGradeCol"><%= results[i].lifetime.lifeScore %>%</td>
                    <td class="padCol"></td>
                  </tr>
             <% } %>
            </table>
            
        </div>
        <br class="clear" />
    </div> <!--end conBox -->
    
</div>