<div id="rowInner">
            <div id="conBox">
                <div id="mainBox" class="rounded voteResultsBox">
                    <div class="sessBar ">
                <div class="lowerSearch left">^ New Search</div>
                <div id="rtBtn" class="  button btnDkGreen noHover right">
                    <select name="session" id="session" class="sessionList2">
                        <option value="NONE" selected="selected">Select Session</option>
                        <option value="114" >114th (2015 - 2016)</option>
                        <option value="113" >113th (2013 - 2014)</option>
                        <option value="112" >112th (2011 - 2012)</option>
                        <option value="111" >111th (2009 - 2010)</option>
                        <option value="110" >110th (2007 - 2008)</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <script>
                $(function(){
                    $(".tooltiper").tooltip()
                })
            </script>
            <% if(results.length > 0){%>
                    <div id="mainInner" class="botRule resInfo">
                        
                            <div id="infoTitle">
                                <% if(results[0].vote.custom == 'no'){ %>
                                    <h1><%= results[0].vote.chamber %> Vote# <%= results[0].vote.roll_call %></h1>
                                <% }else{ %>
                                    <h1><%= results[0].vote.chamber %> <%= results[0].vote.vote_title %></h1>
                                <% } %>
                                <br class="clear" />
                                <div id="infoSocnet">
                                    <a href="http://twitter.com/share?text=Check out your lawmakers’ votes at the @AFPhq scorecard &hashtags=tcot, fightback&url=http://www.afpscorecard.com"><img src="<%= imagePath %>/socnet-stTwt.png" width="42" height="29" /></a>
                                    <a href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=Americans For Prosperity - ScoreCard&amp;p[summary]=Are your federal legislators voting for economic freedom? You deserve to know. Check out Americans for Prosperity’s Federal Scorecard and see where they rank&amp;p[url]=http://afpscorecard.org&amp;&p[images][0]=http://afpscorecard.org/site/themes/afp/images/logo-afp.png"><img src="<%= imagePath %>/socnet-stFb.png" width="29" height="29" /></a>
                                    <a href="mailto:?subject=AFP Scorecard&body=I just learned all about how my lawmakers are voting on issues of economic freedom.  Americans for Prosperity’s scorecard gives you a great look at how our officials are voting.  Click here to find your legislators’ score. http://www.afpscorecard.org"><img src="<%= imagePath %>/socnet-stEmail.png" width="38" height="29" /></a>
                                    
                                </div>
                             </div>
                             
                             <div id="infoVote">
                                 <%
                                        var tipIssue = results[0].vote.issue;
                                        switch(tipIssue){
                                                case 'budget':
                                                    tipIssue = 'Budget & Spending';
                                                    break;
                                                case 'energy':
                                                    tipIssue = 'Energy & Environment';
                                                    break;
                                                case 'health':
                                                    tipIssue = 'Health Care & Entitlements';
                                                    break;
                                                case 'taxes':
                                                    tipIssue = 'Taxes';
                                                    break;
                                                case 'labor':
                                                    tipIssue = 'Labor, Education & Pensions';
                                                    break;
                                                case 'banking':
                                                    tipIssue = 'Banking & Financial Services';
                                                    break;
                                                case 'property':
                                                    tipIssue = 'Property Rights';
                                                    break;
                                                case 'technology':
                                                    tipIssue = 'Technology';
                                                    break;
                                        }
                                   %>
                                    <div><i class="<%= results[0].vote.issue %>Icn tooltiper" data-toggle="tooltip" title="<%= tipIssue %>" ></i></div>
                                    <% if(results[0].vote.result){ %>
                                        <div class="vResult">vote Result: <span class="rounded btnGreen"><%= results[0].vote.result %></span> <span class="resultNum"><%= results[0].Yes %> - <%= results[0].No %></span></div>
                                    <% } %>
                             </div>
                             
                             <table id="scoreTbl" class="rounded" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="repScore"><%= results[0].ravg %>%</td>
                                <td class="demScore"><%= results[0].davg %>%</td>
                              </tr>
                              <tr>
                                <td class="lScoreLbl">REPUBLICAN SCORE</td>
                                <td class="rScoreLbl">DEMOCRAT SCORE</td>
                              </tr>
                            </table>
                            <br class="clear" />
                        </div>
                        
                        <div id="mainInner">
                          <h2>Description</h2>
                          <p><%= unescape(results[0].vote.description) %></p>                         
                          <h2>AFP Position :<span class="posText"> <%= results[0].vote.position %></span></h2>
                          <p><%= unescape(results[0].vote.position_summary) %></p> 
                        </div>
                    
                        <div id="mainInner" class="botRule">
                            <h1>LEGISLATORS</h1>
                            <div id="sortDrop" class="button btnGrey noHover">
                                <select name="" id="" class="sortList voteMemberSort">
                                    <option value="NONE" selected="selected">Sort By</option>
                                    <option value="lName">NAME</option>
                                    <option value="state">STATE</option>
                                    <option value="party">PARTY</option>                                
                                </select>
                            </div>
                            <br class="clear" />
                        </div>
                        <table border="0" cellspacing="0" cellpadding="0" id="resultsTbl" class="voteResults">
                          <tr>
                            <td class="padCol title"></td>
                            <td class="nameCol title">Name</td>
                            <td class="partyCol title">Party</td>
                            <td class="stateCol title">State</td>
                            <td class="scoreCol title">Score</td>
                            <td class="votedCol title">Vote</td>
                            <td class="padCol title"></td>
                          </tr>
                          <% for(var i=0; i < results[0].members.length;i++) { %>
                              <% var voteChamber = results[0].vote.chamber; %>
                              <% if(voteChamber.toLowerCase() == results[0].members[i].chamber) { %>
                                  <tr class="route" data-role="member#<%= results[0].members[i].congID %>#<%=results[0].members[i].chamber %>">
                                    <% var title = (results[0].members[i].chamber == 'house') ? 'Rep.' : 'Sen.'; %>
                                    <td class="padCol"></td>
                                    <td class="nameCol"><%= title %> <%= results[0].members[i].fName %> <%= results[0].members[i].lName %></td>
                                    <td class="partyCol"><%= results[0].members[i].party %></td>
                                    <td class="stateCol"><%= results[0].members[i].state %></td>
                                    <td class="scoreCol"><%= results[0].members[i].score %>%</td>
                                    <td class="voteCol"><%= results[0].members[i].position %> </td>
                                    <td class="padCol"></td>
                                  </tr>           
                          <% }} %>
                        </table>
                        
                    </div>
                    <br class="clear" />
               <% }else{ %> 
                    <div id="mainInner">

                            <h1 >This vote was not found in this session of Congress.</h1>
                            <p>Please use the Search Above to find What you are looking for.</p>
                            <br /><br /><br />

                   </div>    
               <% } %>
            </div> <!--end conBox -->
            
        </div>