body {
  background: #fafafa;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
#wrapper {
  min-width: 960px;
}
#sidebar {
  background: #f3f3f3;
  min-height: 600px;
  padding: 20px 0 0 0;
  border-right: 1px solid #acacac;
}
#main {
  padding: 20px 20px 20px 0px;
}
.pageTitle {
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  padding: 8px;
  width: 98%;
}
.metaBoxes {
  font-size: 14px;
  line-height: 22px;
  height: 18px;
  padding: 8px;
  width: 98%;
}
.sideBox {
  border: 1px solid #dddddd;
  padding: 10px;
  background: #fff;
}
.sideBoxTitle {
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #7d7d7d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
}
.subTitle {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #7d7d7d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 0px;
}
.cmsBlock {
  border: 1px solid #cccccc;
  background: #fff;
  margin-bottom: 15px;
}
.cmsBlock h3 {
  padding: 10px 20px;
  background: #fcfbfb;
  /* Old browsers */

  background: -moz-linear-gradient(top, #fcfbfb 0%, #ececec 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfbfb), color-stop(100%, #ececec));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fcfbfb 0%, #ececec 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fcfbfb 0%, #ececec 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fcfbfb 0%, #ececec 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fcfbfb 0%, #ececec 100%);
  /* W3C */

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfbfb', endColorstr='#ececec', GradientType=0);
  /* IE6-9 */

  border-bottom: 1px solid #cccccc;
}
.innerblock {
  padding: 10px;
}
.pagepath {
  color: #999;
}
