body {
  background: #fafafa;
  margin: 0px;
  padding: 0px;
  font-family: 'lato', sans-serif;
  font-size: 12px;
}


#wrapper {
  min-width: 960px;
}

// Container (centered, fixed-width layouts)
.container {
  .container-fixed();
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
  
  .clearfix();
}

#sidebar {
  background: #f3f3f3;
  min-height: 600px;
  padding: 0px 0 0 0;
  border-right: 1px solid #acacac;

}
#main {
  padding: 20px 20px 20px 0px;
  
}




.cmsBlock {border:1px solid #cccccc; background:#fff; margin-bottom:15px; }

.cmsBlock h3 {
	padding:10px 20px;
	background: #fcfbfb; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfbfb 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfbfb 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfbfb 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfbfb 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfbfb 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbfb', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	border-bottom:1px solid #cccccc;
}

.innerblock {padding:10px;}

.pagepath {
  color: #999;
}
.logUname {
  background: url(../img/uicaon.png) 4px 6px no-repeat #f5f5f5;
  font-size: 20px;
  padding: 8px 0 8px 40px;
  height: 25px;
  margin-bottom: 12px;
}
.logPass {
  font-size: 20px;
  padding: 8px 0 8px 40px;
  background: url(../img/passicon.png) 4px 6px no-repeat #f5f5f5;
  height: 25px;
}
.remberme {
  text-align: left;
  padding-left: 35px;
  margin-bottom: -10px;
  padding-top: 4px;
}
.remebertxt {
  font-size: 12px;
  color: #999999;
  padding-left: 10px;
  padding-top: 5px;
}
.logbtn {
  margin-right: 20px;
}
.forgot {
  font-size: 10px;
}
.js .checkbox {
  display: none;
}
.toggle {
  background: url("../img/toggle.png") bottom left;
  display: block;
  width: 70px;
  height: 22px;
}
.toggle.checked {
  background-position: top left;
}
#loader {
  height: 100px;
  width: 100px;
  background: url(../img/2.gif);
  display: none;
  margin: 60px 0 0 140px;
}
body.login h2 {
  color: #666666;
  letter-spacing: 1px;
}
.borderLeft {
  border-left: 1px dotted #c7c7c7;
}
.borderRight {
  border-right: 1px dotted #c7c7c7;
}
.borderTop {
  border-top: 1px dotted #c7c7c7;
}
.borderBottom {
  border-bottom: 1px dotted #c7c7c7;
}
.shadow {
  -moz-box-shadow: 0px 0px 11px #353535;
  -webkit-box-shadow: 0px 0px 11px #353535;
  box-shadow: 0px 0px 11px #353535;
  /* For IE 8 
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    */

}
.sectionWrapper {
  min-height: 650px;
}
.section {
  /*border-left: 1px dotted #c7c7c7;
  border-right: 1px dotted #c7c7c7;
  min-height: 650px;*/
}
.headIcon {
  height: 40px;
  float: left;
}
.headText {
  float: left;
  padding-top: 15px;
  margin-left: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.new {
  border-top: 1px dotted #c7c7c7;
  border-bottom: 1px dotted #c7c7c7;
  font-weight: 700;
  margin-top: 10px;
  padding: 15px 0;
  font-size: 14px;
  position: relative;
}
.section {
  padding: 10px 0px 0 0px;
  font-size: 12px;
  line-height: 18px;
}
.lower {
  border-bottom: 1px dotted #c7c7c7;
  padding-bottom: 10px;
}
.section .col1 {
  width: 35%;
  border-right: 1px dotted #c7c7c7;
  padding-right: 26px;
  float: left;
}
.section .col2 {
  width: 35%;
  border-right: 1px dotted #c7c7c7;
  padding: 0 15px;
  float: left;
}
.section .col3 {
  width: 20%;
  padding-left: 20px;
  float: left;
}
.opener {
  position: relative;
  min-height:200px;
}
.section .col3 ul {
  margin-left: 0px;
}
.section .col3 li {
  list-style: none;
}
.section .col3 a,
.col3 a:visited {
  text-decoration: none;
  color: #646464;
}
.section h3 {
  margin-bottom: 5px;
}
.newsItem {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px dotted #c7c7c7;
}
.newsItem:last-child {
  border: 0px;
}
.homeBox {
  width: 146px;
  height: 40px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  float: left;
  margin: 0 4px 5px 0;
  display: table;
  position: relative;
}
.homeBox a,
.homeBox a:visited {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-decoration: none;
}
.innnerNews {
  position: relative;
}
.quickLinks {
  position: relative;
}
.contactInner {
  position: relative;
}
.newEdit {
  margin-top: -15px;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.newEdit:hover {
  background: url(../img/overlay.png);
  color: #fff;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.openerEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.openerEdit:hover {
  background: url(../img/overlay.png);
  color: #fff;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.boxEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.boxEdit:hover {
  background: url(../img/overlay.png);
  color: #fff;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.newsEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.newsEdit:hover {
  background: url(../img/overlay.png);
  color: #fff;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.contactEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.contactEdit:hover {
  background: url(../img/overlay.png);
  color: #fff;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.linkEdit {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.linkEdit:hover {
  background: url(../img/overlay.png);
  color: #fff;
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}
.corpNavBar {
  margin-top: -12px;
}
.corpWrapper {
  
  background-size: cover;
}
.sectionWrapper .corpWrapper {
  height: 650px;
}
.corporations h1,
.corporations h2,
.corporations h3,
.corporations h4,
.corporations h5,
.corporations .new {
  color: #67757e;
}
.corporations .headIcon {
  background: url(../img/siteSprite.png) no-repeat;
  background-position: -231px -122px;
  width: 43px;
}
.corporations .homeBox {
  background: #67757e;
}
.corporations .homeBox:hover {
  background: #505b62;
  color: #ffffff;
}
.corpWrapper a:hover,
.corpWrapper a:active {
  color: #505b62;
}
.corporations .homeBox:hover a {
  color: #ffffff;
}
.elecWrapper {
  
  background-size: cover;
}
.sectionWrapper .elecWrapper {
  height: 650px;
}
.elections h1,
.elections h2,
.elections h3,
.elections h4,
.elections h5,
.elections .new {
  color: #910123;
}
.elections .headIcon {
  background: url(../img/siteSprite.png) no-repeat;
  background-position: -309px -199px;
  width: 36px;
}
.elections .homeBox {
  background: #910123;
}
.elections .homeBox:hover {
  background: #5e0117;
}
.elecWrapper a:hover,
.elecWrapper a:active {
  color: #910123;
}
.elections .homeBox:hover a {
  color: #ffffff;
}
.licWrapper {
  
  background-size: cover;
}
.sectionWrapper .licWrapper {
  height: 650px;
}
.licensing h1,
.licensing h2,
.licensing h3,
.licensing h4,
.licensing h5,
.licensing .new {
  color: #ab5c4a;
}
.licensing .headIcon {
  background: url(../img/siteSprite.png) no-repeat;
  background-position: -378px -198px;
  width: 48px;
}
.licensing .homeBox {
  background: #ab5c4a;
}
.licensing .homeBox:hover {
  background: #87493b;
}
.licWrapper a:hover,
.licWrapper a:active {
  color: #ab5c4a;
}
.licensing .homeBox:hover a {
  color: #ffffff;
}
.secWrapper {
  
  background-size: cover;
}
.sectionWrapper .secWrapper {
  height: 650px;
}
.securities h1,
.securities h2,
.securities h3,
.securities h4,
.securities h5,
.securities .new {
  color: #38486a;
}
.securities .headIcon {
  background: url(../img/siteSprite.png) no-repeat;
  background-position: -464px -198px;
  width: 44px;
}
.securities .homeBox {
  background: #38486a;
}
.securities .homeBox:hover {
  background: #263149;
}
.secWrapper a:hover,
.secWrapper a:active {
  color: #38486a;
}
.securities .homeBox:hover a {
  color: #ffffff;
}
.archWrapper {
  
  background-size: cover;
}
.sectionWrapper .archWrapper {
  height: 650px;
}
.archives h1,
.archives h2,
.archives h3,
.archives h4,
.archives h5,
.archives .new {
  color: #4893da;
}
.archives .headIcon {
  background: url(../img/siteSprite.png) no-repeat;
  background-position: -545px -197px;
  width: 35px;
}
.archives .homeBox {
  background: #4893da;
}
.archives .homeBox:hover {
  background: #287ac7;
}
.archWrapper a:hover,
.archWrapper a:active {
  color: #4893da;
}
.archives .homeBox:hover a {
  color: #ffffff;
}

.modal {
  display: none;
}

.modal-body table {border:0px;}


.pageSelBox {height:200px; overflow-y: scroll}

.pageSelBox label,input {
    vertical-align:middle;
}
.pageSelBox label {
    font-weight:normal;
    font-size:12px;
}
.pageSelBox input {
   margin-top:0px;
}

.pageGroup {display:none;}


