.pageTitle {
  font-size: 18px;
  line-height: 22px;
  height: 22px;
  padding: 8px;
  width: 98%;
}
.metaBoxes {
  font-size: 14px;
  line-height: 22px;
  height: 18px;
  padding: 8px;
  width: 98%;
}
.sideBox {
  border: 1px solid #dddddd;
  padding: 10px;
  background: #fff;
}
.sideBoxTitle {
  border-bottom: 1px solid #dddddd;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #7d7d7d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 10px;
}
.subTitle {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #7d7d7d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 0px;
}
