/* NAV */
#nav {min-width:0;}
#nav.nav li {display:none;}    
#navResp {display:block !important;}

/* HOME BODY */
#wishBox {margin:0 0 0 5%;}

/* ABOUT */
#aboutBox {width:255px; margin:25px 0 0 2%;}

/* FOOTER */
#footerInner {height:auto; background:#0d0d0d; padding:10px 0 ; min-width:320px;}

/* TEAM */
#teamSideBar { width:100%; max-width:300px; min-width:270px; float:left;} 
#teamBenefits { width:185px; margin:20px 0 0 15px;}
