.navHead {

 border-bottom:1px solid #D9D9D9;
}
.navTitle {
  display: block;
  padding: 13px 0px 10px 30px;
  font-size: 14px;
  /*font-weight: bold;*/
  line-height: 18px;
  color: #7d7d7d;
  /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);*/
  text-transform: uppercase;
  cursor: pointer;
  background: #fcfbfb; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfbfb 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbfb), color-stop(100%,#ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfbfb 0%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfbfb 0%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfbfb 0%,#ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfbfb 0%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbfb', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}


.navInner {
    border-top:1px solid #D9D9D9;
  padding: 10px 0 10px 0px;
  background: #fff;
}