#top {
  background: #343535;
  /*padding: 10px 20px;*/
}
#logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 0 15px 20px;
}
#logo .small {
  font-size: 12px;
}

#topUser {padding: 10px 20px 0 0;}

.topnav {margin:0px;}
.topnav li{padding: 15px 15px 15px 15px; display:inline-block; margin:0px;}
.topnav li:hover, .topnav li.active {background:#424343;/* border-right:1px solid #000; border-left:1px solid #000;*/}
.topnav li a, .topnav li a:visited {color:white}
.topnav li a:hover, .topnav li a:active {text-decoration:none}