/*!
 * jGauge v0.3.0 Alpha 2
 * Gauge styling
 * 
 * Developed by Darian Cabot
 * http://www.dariancabot.com/
 * 
 * Date: 28 October 2010
 */

div.jgauge
{
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	height: 114px;
	margin: 25px;
	overflow: hidden;
	position: relative;
	width: 160px;
	z-index: 0;
}

div.jgauge p.tick-label
{
	color: #327a9e;
	display: none;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 10px;
	line-height: 10px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 50px;
	z-index: 3;
	
}

div.jgauge img.needle
{
	border: 0;
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 5;
}

div.jgauge .needle
{
	z-index: 5;
}

div.jgauge p.label
{
	color: #144b66;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 2px #bbb;
	width: 100%;
	z-index: 4;
	background: transparent;
}

div.jgauge canvas
{
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}
