* {margin:0px; padding:0px;}

body {background:#f7f7f7; margin:0px; padding:0px; font-family: 'Open Sans', sans-serif; font-size:12px;}
body.login {background: #b1c0c9;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

h1{  margin-bottom:20px;}
h2{}
h3{}
h4{}
h5{}

a, a:visited {}
a:hover {}
#wrapper { min-width: 960px;}
#login {width:385px; height:410px; background:url(../img/login-box-backg.png) top center no-repeat; margin:70px auto; padding:60px 50px 0 50px; text-align: center;}

#top { background:#343535;  padding: 10px 20px;}

#logo {color:#fff; text-transform: uppercase; font-size: 18px;}
#logo .small {font-size:12px;}
#sidebar { background: #ececed; min-height:600px;  padding: 20px 0 0 0; border-right:1px solid #ccc;}
#main {padding: 20px; }

table {border:1px solid #DDDDDD;}
thead {background: #3a3a3a; color:#fff;}
.editsOuter {height:15px; width:180px;}
.edits {padding-left:15px; font-size:11px; display:none;}
tr:hover .edits {display:block;}

.module {background:#f8f8f8; border:1px solid #eaeaea; margin-bottom:10px; padding:10px;}
.module.installed {background: #ebf8fe;}
.module strong {text-transform: uppercase;}

.navTitle { display: block;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  color: #7d7d7d;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  cursor:pointer;
  background:#dfdfdf;
  border-bottom:1px solid #ccc;
}

.navInner {padding:10px 0; background:#fff;}

.pageTitle {font-size:18px; line-height:22px; height:22px; padding:8px; width:98%;}
.metaBoxes {font-size:14px; line-height:22px; height:18px; padding:8px; width:98%;}

.sideBox {border:1px solid #dddddd; padding:10px; background:#fff;}
.sideBoxTitle {
  border-bottom:1px solid #dddddd;
  font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #7d7d7d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    padding:5px;
    margin-bottom:10px;
}

.subTitle {font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #7d7d7d;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    padding:5px;
    margin-bottom:0px;}

.pagepath {color:#999;}



.calendar {
  font-family: Arial, Verdana, Sans-serif;
  width: 100%;
  min-width: 960px;
  border-collapse: collapse;
}

.calendar tbody tr:first-child th {
  color: #505050;
  margin: 0 0 10px 0;
}

.day_header {
  font-weight: normal;
  text-align: center;
  color: #757575;
  font-size: 10px;
}

.calendar td {
  width: 14%; /* Force all cells to be about the same width regardless of content */
  border:1px solid #CCC;
  height: 100px;
  vertical-align: top;
  font-size: 10px;
  padding: 0;
}

.calendar td:hover {
  background: #F3F3F3;
}

.day_num {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #2C2C2C;
  padding: 5px 5px 0 0;
}

.content {padding: 0 10px 0 10px;}
.highlight {
  background: #E9EFF7;
  height: 77%;
}

.highlightDay {
  background: #E9EFF7;
  
}




.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) { 

    .dd { float: left; width: 48%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }



.logUname {background:url(../img/uicaon.png) 4px 6px no-repeat #f5f5f5; font-size:20px; padding:8px 0 8px 40px; height:25px; margin-bottom:12px;} 
.logPass  {font-size:20px; padding:8px 0 8px 40px; background:url(../img/passicon.png) 4px 6px no-repeat #f5f5f5; height:25px}

.remberme {text-align:left; padding-left:35px; margin-bottom:-10px; padding-top:4px;}
.remebertxt {font-size:12px; color:#999999; padding-left:10px; padding-top:5px;}
.logbtn {margin-right:20px;}
.forgot {font-size:10px;}

.js .checkbox{
  display:none;
}

.toggle{
   background:url("../img/toggle.png") bottom left;
    display:block;
    width:70px;
    height:22px;
}

.toggle.checked{
  background-position:top left;
}

#loader {height:100px; width:100px; background:url(../img/2.gif); display:none; margin:60px 0 0 140px;}
body.login h2 {color:#666666; letter-spacing:1px}



@iconBarColor:#c8c8c8; // Color of top bar
@iconText:    #afafaf; // Color of text in IconBar

@navBarBkg:   #fff; //The sub Nav bar BKG

//Section Colors
@corps:       #67757E;
@elections:   #910123;
@licensing:   #AB5C4A;
@securities:  #38486A;
@archives:    #4893DA;
//@mainNavColor:#343434;
@mainNavColor:#757575;





@baseFont:    'Lato';
@fontColor:   #646464;
@font-size:   12px;
@lineHeight:  22px;
@iconBarHeight:     74px;
@navBarHeight:      40px;
@mainHeaderHeight:  272px;
@subHeaderHeight:  120px;
@sectionHeight:     650px;
@borderColor:       #C7C7C7;

.iconBarIcon (@options) {background:url(../images/siteSprite.png) no-repeat; background-position: @options;}

.borderLeft {border-left: 1px dotted @borderColor;}
.borderRight {border-right: 1px dotted @borderColor;}
.borderTop {border-top: 1px dotted @borderColor;}
.borderBottom {border-bottom: 1px dotted @borderColor;}

.shadow {
    -moz-box-shadow: 0px 0px 11px #353535;
	-webkit-box-shadow: 0px 0px 11px #353535;
	box-shadow: 0px 0px 11px #353535;
	/* For IE 8 
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    */
}


//Homepage section Styles
  .sectionWrapper {min-height:@sectionHeight;  }

    //section layout
    .section {.borderLeft; .borderRight; min-height:@sectionHeight;} 
    .headIcon {height:40px; float:left}
    .headText {float:left; padding-top:15px; margin-left:12px; letter-spacing:4px; text-transform:uppercase; }
    .new {.borderTop; .borderBottom; font-weight:700; margin-top:10px; padding:15px 0; font-size:14px; position:relative;}
    
    
    .section {padding: 42px 40px 0 40px; font-size:12px; line-height:18px;}
    .lower {.borderBottom; padding-bottom:10px;}
    .section .col1 {width:35%; .borderRight; padding-right:26px; float:left;}
    .section .col2 {width:35%; .borderRight; padding:0 15px; float:left;}
    .section .col3 {width:20%; padding-left:20px; float:left;}
    
    .opener {position:relative;}
    
    
    .section .col3 ul { margin-left:-0px;}
    .section .col3 li {list-style:none;}
    .section .col3 a, .col3 a:visited {text-decoration:none; color:@fontColor}
    .section h3 {margin-bottom:5px;}
    .newsItem {padding-bottom:8px; margin-bottom:8px; .borderBottom }
    .newsItem:last-child {border:0px}
    .homeBox {width:146px; height:40px; cursor:pointer;  color:#fff; font-weight:700; float:left; margin:0 4px 5px 0; display: table; position:relative; }
    .homeBox a, .homeBox a:visited {display: table-cell; vertical-align: middle; text-align: center; color:white; text-decoration:none;}
	
	
	.innnerNews {position:relative;}
	
	
	.quickLinks {position:relative;}
	
	
	.contactInner {position:relative;}
	
	.newEdit {margin-top:-15px;  position:absolute; width:100%; height:100%; font-size:0px;}
	.newEdit:hover {background:url(../img/overlay.png); color:#fff; text-align:left; font-size:24px; cursor:pointer}
	.openerEdit { position:absolute;  width:100%; height:100%; font-size:0px; }
	.openerEdit:hover {background:url(../img/overlay.png); color:#fff; text-align:left; font-size:24px; cursor:pointer}
	.boxEdit {position:absolute; width:100%; height:100%; font-size:0px;}
	.boxEdit:hover {background:url(../img/overlay.png); color:#fff; text-align:left; font-size:24px; cursor:pointer}
	.newsEdit {position:absolute;  width:100%; height:100%; font-size:0px;}
	.newsEdit:hover {background:url(../img/overlay.png); color:#fff; text-align:left; font-size:24px; cursor:pointer}
	.contactEdit {position:absolute;  width:100%; height:100%; font-size:0px;}
	.contactEdit:hover {background:url(../img/overlay.png); color:#fff; text-align:left; font-size:24px; cursor:pointer}
	.linkEdit {position:absolute;  width:100%; height:100%; font-size:0px;}
	.linkEdit:hover {background:url(../img/overlay.png); color:#fff; text-align:left; font-size:24px; cursor:pointer}
	
	
// ----------- corprations -------------//
  .corpNavBar {margin-top:-12px;}
  .corpWrapper {background:url(../images/corpBkg.png)  no-repeat; background-size:cover;  }
  .sectionWrapper .corpWrapper { height:@sectionHeight; }
  .corparations h1, .corparations h2, .corparations h3, .corparations h4, .corparations h5, .corparations .new {color:@corps; }
  .corparations .headIcon {.iconBarIcon(-231px -122px);  width:43px;}
  .corparations .homeBox { background:@corps; &:hover {background:darken(@corps, 10%); color:#fff}}  
  .corpWrapper a:hover, .corpWrapper a:active {color:darken(@corps, 10%);}
  .corparations .homeBox:hover a {color:#fff}
  
  // ----------- elections -------------//
  .elecWrapper {background:url(../images/electionsBkg.png)  no-repeat; background-size:cover; }
  .sectionWrapper .elecWrapper {height:@sectionHeight; }
  .elections h1, .elections h2, .elections h3, .elections h4, .elections h5, .elections .new {color:@elections; }
  .elections .headIcon {.iconBarIcon(-309px -199px);  width:36px;}
  .elections .homeBox { background:@elections; &:hover {background:darken(@elections, 10%);}}  
  .elecWrapper a:hover, .elecWrapper a:active {color:@elections}
  .elections .homeBox:hover a {color:#fff}
  
  // ----------- licensing -------------//
  .licWrapper {background:url(../images/licBkg.png)  no-repeat; background-size:cover; }
  .sectionWrapper .licWrapper { height:@sectionHeight; }
  .licensing h1, .licensing h2, .licensing h3, .licensing h4, .licensing h5, .licensing .new {color:@licensing; }
  .licensing .headIcon {.iconBarIcon(-378px -198px);  width:48px;}
  .licensing .homeBox { background:@licensing; &:hover {background:darken(@licensing, 10%);}} 
  .licWrapper a:hover, .licWrapper a:active {color:@licensing}
  .licensing .homeBox:hover a {color:#fff}
  
   // ----------- Securites -------------//
  .secWrapper {background:url(../images/secBkg.png)  no-repeat; background-size:cover; }
  .sectionWrapper .secWrapper { height:@sectionHeight; }
  .securities h1, .securities h2, .securities h3, .securities h4, .securities h5, .securities .new {color:@securities; }
  .securities .headIcon {.iconBarIcon(-464px -198px);  width:44px;}
  .securities .homeBox { background:@securities; &:hover {background:darken(@securities, 10%);}} 
  .secWrapper a:hover, .secWrapper a:active {color:@securities}
  .securities .homeBox:hover a {color:#fff}
  
  // ----------- Archives -------------//
  .archWrapper {background:url(../images/archiveBkg.png)  no-repeat; background-size:cover;  }
  .sectionWrapper .archWrapper {height:@sectionHeight; }
  .archives h1, .archives h2, .archives h3, .archives h4, .archives h5, .archives .new {color:@archives; }
  .archives .headIcon {.iconBarIcon(-545px -197px);  width:35px;}
  .archives .homeBox { background:@archives; &:hover {background:darken(@archives, 10%);}} 
  .archWrapper a:hover, .archWrapper a:active {color:@archives}
  .archives .homeBox:hover a {color:#fff}
  
  #intro, #tagline, #boxModel, #contact {display:none;}
