<script>
    $(function(){
        $(".tooltiper").tooltip()
    })
</script>

<div id="rowInner">
    <div id="conBox">
        <div id="mainBox" class="rounded">
            <div class="sessBar ">
                <div class="lowerSearch left">^ New Search</div>
                <div id="rtBtn" class="  button btnDkGreen noHover right">
                    <select name="session" id="session" class="sessionList2">
                        <option value="NONE" selected="selected">Select Session</option>
                        <option value="113" >113th (2013 - 2014)</option>
                        <option value="112" >112th (2011 - 2012)</option>
                        <option value="111" >111th (2009 - 2010)</option>
                        <option value="110" >110th (2007 - 2008)</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <%
             if(results.length != 0){%>
              <div id="mainInner" class="repInfo">
                    <div id="profilePic">
                        <% if(!results[0].member.image_path){ %>
                            <img src="<%= imagePath %>/pic-profile.png" width="180" height="200"  /> 
                         <% }else{ %>
                        <img src="<%= results[0].member.image_path %>" width="180" height="200"  /> 
                        <% } %>
                        </div>
                    <% var title = (results[0].member.chamber == 'house') ? 'REP.' : 'SEN.'; %>
                    <h1><%= title %> <%= results[0].member.fName %> <%= results[0].member.lName %></h1>
                    
                    
                    
                    <div id="profileInfo">
                        <% var party = (results[0].member.party == 'R') ? 'Republican' : 'Democrat'; %>
                        <%= party %> (<%= results[0].member.state %>)<br />
                        <% if(results[0].member.chamber == 'house'){ %>
                            District <%= results[0].member.district %><br />
                        <% } %>
                    </div>
                   
                    <div id="profileInfo">
                        <div id="infoSocnet">
                            <a href="http://twitter.com/share?text=Check out your lawmakers’ votes at the @AFPhq scorecard &hashtags=tcot, fightback&url=http://www.afpscorecard.com"><img src="<%= imagePath %>/socnet-stTwt.png" width="42" height="29" /></a>
                            <a href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=Americans For Prosperity - ScoreCard&amp;p[summary]=Are your federal legislators voting for economic freedom? You deserve to know. Check out Americans for Prosperity’s Federal Scorecard and see where they rank&amp;p[url]=http://afpscorecard.org&amp;&p[images][0]=http://afpscorecard.org/site/themes/afp/images/logo-afp.png"><img src="<%= imagePath %>/socnet-stFb.png" width="29" height="29" /></a>
                            <a href="mailto:?subject=AFP Scorecard&body=I just learned all about how my lawmakers are voting on issues of economic freedom.  Americans for Prosperity’s scorecard gives you a great look at how our officials are voting.  Click here to find your legislators’ score. http://www.afpscorecard.org"><img src="<%= imagePath %>/socnet-stEmail.png" width="38" height="29" /></a>
                            <a href="#" class="embed"><img src="<%= imagePath %>/socnet-stLoc.png" width="23" height="29" /></a>
                        </div>
                    </div>
                    
                    <div id="graphBox">
                        <h2>Grades By Issue</h2>
                        <a href="#" class="lifetimeToggle">LIFETIME | <strong>SESSION</strong> Scores</a>
                        <br class="clear" />
                        <div id="scoreGraph" class="rounded session">
                            <% if(results[0].scores.budget != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="budgetIcn tooltiper" data-toggle="tooltip" title="Budget & Spending" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.budget < 50){%> class="red"<% }%> style="width:<%= results[0].scores.budget %>%"><div id="gRowNum"><%= results[0].scores.budget %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.energy != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="energyIcn tooltiper" data-toggle="tooltip" title="Energy & Environment" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.energy < 50){%> class="red"<% }%> style="width:<%= results[0].scores.energy %>%" ><div id="gRowNum"><%= results[0].scores.energy %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.health != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="healthIcn tooltiper" data-toggle="tooltip" title="Health Care & Entitlements" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.health < 50){%> class="red"<% }%> style="width:<%= results[0].scores.health %>%"><div id="gRowNum"><%= results[0].scores.health %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.taxes != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="taxesIcn tooltiper" data-toggle="tooltip" title="Taxes" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.taxes < 50){%> class="red"<% }%> style="width:<%= results[0].scores.taxes %>%"><div id="gRowNum"><%= results[0].scores.taxes %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.labor != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="laborIcn tooltiper" data-toggle="tooltip" title="Labor, Education & Pensions" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.labor < 50){%> class="red"<% }%> style="width:<%= results[0].scores.labor %>%"><div id="gRowNum"><%= results[0].scores.labor %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.banking != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="bankingIcn tooltiper" data-toggle="tooltip" title="Banking & Financial Services" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.banking < 50){%> class="red"<% }%> style="width:<%= results[0].scores.banking %>%"><div id="gRowNum"><%= results[0].scores.banking %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.property != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="propertyIcn tooltiper" data-toggle="tooltip" title="Property Rights" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.property < 50){%> class="red"<% }%> style="width:<%= results[0].scores.property %>%"><div id="gRowNum"><%= results[0].scores.property %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].scores.technology != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="techIcn tooltiper" data-toggle="tooltip" title="Technology" ></i></div>
                                    <div id="gRowBar" <% if(results[0].scores.technology < 50){%> class="red"<% }%> style="width:<%= results[0].scores.technology %>%"><div id="gRowNum"><%= results[0].scores.technology %>%</div></div>
                                </div>
                            <% } %>
                        </div>
                        
                        
                        <div id="scoreGraph" class="rounded lifetime">
                            <% if(results[0].lifetime.budget != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="budgetIcn tooltiper" data-toggle="tooltip" title="Budget & Spending" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.budget < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.budget %>%"><div id="gRowNum"><%= results[0].lifetime.budget %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.energy != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="energyIcn tooltiper" data-toggle="tooltip" title="Energy & Environment" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.energy < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.energy %>%" ><div id="gRowNum"><%= results[0].lifetime.energy %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.health != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="healthIcn tooltiper" data-toggle="tooltip" title="Health Care & Entitlements" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.health < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.health %>%"><div id="gRowNum"><%= results[0].lifetime.health %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.taxes != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="taxesIcn tooltiper" data-toggle="tooltip" title="Taxes" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.taxes < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.taxes %>%"><div id="gRowNum"><%= results[0].lifetime.taxes %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.labor != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="laborIcn tooltiper" data-toggle="tooltip" title="Labor, Education & Pensions" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.labor < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.labor %>%"><div id="gRowNum"><%= results[0].lifetime.labor %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.banking != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="bankingIcn tooltiper" data-toggle="tooltip" title="Banking & Financial Services" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.banking < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.banking %>%"><div id="gRowNum"><%= results[0].lifetime.banking %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.property != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="propertyIcn tooltiper" data-toggle="tooltip" title="Property Rights" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.property < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.property %>%"><div id="gRowNum"><%= results[0].lifetime.property %>%</div></div>
                                </div>
                            <% } %>
                            
                            <% if(results[0].lifetime.technology != "-"){ %>
                                <div id="graphRow">
                                    <div id="gRowIcon"><i class="techIcn tooltiper" data-toggle="tooltip" title="Technology" ></i></div>
                                    <div id="gRowBar" <% if(results[0].lifetime.technology < 50){%> class="red"<% }%> style="width:<%= results[0].lifetime.technology %>%"><div id="gRowNum"><%= results[0].lifetime.technology %>%</div></div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    
                    <table id="scoreTbl" class="rounded repScore" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                           
                            <td class="<% if(results[0].scores.score > 50){ %> curScore <% }else{ %>lifeScore <% } %>"><%= results[0].scores.score %>%</td>
                            <td class="<% if(results[0].lifetime.lifeScore > 50){ %> curScore <% }else{ %>lifeScore <% } %>"><%= results[0].lifetime.lifeScore %>%</td>
                        </tr>
                        <tr>
                            <td class="lScoreLbl">CURRENT SCORE</td>
                            <td class="rScoreLbl">LIFETIME SCORE</td>
                        </tr>
                    </table>
                </div>
                 
                <br class="clear" />
                
              <div id="mainInner">
                    <h1>Votes</h1>
                    <div id="sortDrop" class="button btnGrey noHover">
                        <select name="sortby" id="sortby" class="sortList memVoteSort">
                            <option value="NONE" selected="selected">Sort By</option>
                            <option value="issue">ISSUE</option>
                            <option value="vote_date">Date</option>
                        </select>
                    </div>
                </div>
                
                <table border="0" cellspacing="0" cellpadding="0" id="resultsTbl" class="repResults">
                  <tr>
                    <td class="padCol title"></td>
                    <td class="tagCol title"><img src="<%= imagePath %>/icon-tag.png" width="25" height="22" /></td>
                    <td class="vNumCol title">Vote#</td>
                    <td class="chamberCol title">Chamber</td>
                    <td class="dateCol title">Date</td>
                    <td class="descripCol title">Description</td>
                    <td class="afpPosCol title">AFP Position</td>
                    <td class="votedCol title">Voted</td>
                    <td class="padCol title"></td>
                  </tr>
                  <% for(var i=0; i < results[0].votes.length;i++) { %>
                      <%
                        var tipIssue = results[0].votes[i].vote.issue;
                        switch(tipIssue){
                                case 'budget':
                                    tipIssue = 'Budget & Spending';
                                    break;
                                case 'energy':
                                    tipIssue = 'Energy & Environment';
                                    break;
                                case 'health':
                                    tipIssue = 'Health Care & Entitlements';
                                    break;
                                case 'taxes':
                                    tipIssue = 'Taxes';
                                    break;
                                case 'labor':
                                    tipIssue = 'Labor, Education & Pensions';
                                    break;
                                case 'banking':
                                    tipIssue = 'Banking & Financial Services';
                                    break;
                                case 'property':
                                    tipIssue = 'Property Rights';
                                    break;
                                case 'technology':
                                    tipIssue = 'Technology';
                                    break;
                        }
                   %>
                      <tr class="route" data-role="vote#<%=results[0].votes[i].vote.id%>">
                        <td class="padCol"></td>
                        <td class="tagCol"><i class="<%= results[0].votes[i].vote.issue %>Icn tooltiper" data-toggle="tooltip" title="<%= tipIssue %>" ></i></td>
                        <td class="vNumCol"><%= results[0].votes[i].vote.roll_call %></td>
                        <td class="chamberCol"><%= results[0].votes[i].vote.chamber %></td>
                        <td class="dateCol"><%= results[0].votes[i].vote.vote_date %></td>
                        <td class="descripCol"><%= unescape(results[0].votes[i].vote.description) %></td>
                        <td class="afpPosCol"><%= results[0].votes[i].vote.position %> </td>
                        <td class="votedCol"><%= results[0].votes[i].voted %></td>
                        <td class="padCol"></td>
                      </tr>
                 <% } %>
                </table>
                
            </div>
            <br class="clear" />
            
        <% }else{ %> 
            <div id="mainInner">

                    <h1 >This Member was not found in this session of Congress.</h1>
                    <p>Please use the Search Above to find What you are looking for.</p>
                    <br /><br /><br />

           </div>    
       <% } %>
    </div> <!--end conBox -->
    
</div>

<% if(results.length != 0){%>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Embed Code for Member</h3>
    </div>
    <div class="modal-body">
    <p><textarea style="width:100%; height:100px;"><iframe src="http://afpscorecard.org/index.php/embed/member?congress=<%= results[0].member.congress %>&memID=<%= results[0].member.congID %>" frameborder="0" width="275px" height="313px"></iframe></textarea></p>
    </div>
    <div class="modal-footer">
    
    </div>
    </div>
<% } %>    