<div id="rowInner">
    <div id="conBox">
        <div id="mainBox" class="rounded">
            <div class="sessBar ">
                <div class="lowerSearch left">^ New Search</div>
                <div id="rtBtn" class="  button btnDkGreen noHover right">
                    <select name="session" id="session" class="sessionList2">
                        <option value="NONE" selected="selected">Select Session</option>
                        <option value="115" >115th (2017 - 2018)</option>
                        <option value="114" >114th (2015 - 2016)</option>
                        <option value="113" >113th (2013 - 2014)</option>
                        <option value="112" >112th (2011 - 2012)</option>
                        <option value="111" >111th (2009 - 2010)</option>
                        <option value="110" >110th (2007 - 2008)</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <div id="mainInner" class="botRule resInfo">
                
                <div>
                    <div id="infoIcon"><img src="<%= imagePath %>/tb<%= issue.issue_code %>.png" width="93" height="82" /></div>
                    <div id="infoTitle">
                        <h1><%= issue.issue_name %></h1>
                        <br class="clear" />
                        <div id="infoSocnet">
                           <a href="http://twitter.com/share?text=Check out your lawmakers’ votes at the @AFPhq scorecard &hashtags=tcot, fightback&url=http://www.afpscorecard.com"><img src="<%= imagePath %>/socnet-stTwt.png" width="42" height="29" /></a>
                        <a href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=Americans For Prosperity - ScoreCard&amp;p[summary]=Are your federal legislators voting for economic freedom? You deserve to know. Check out Americans for Prosperity’s Federal Scorecard and see where they rank&amp;p[url]=http://afpscorecard.org&amp;&p[images][0]=http://afpscorecard.org/site/themes/afp/images/logo-afp.png"><img src="<%= imagePath %>/socnet-stFb.png" width="29" height="29" /></a>
                        <a href="mailto:?subject=AFP Scorecard&body=I just learned all about how my lawmakers are voting on issues of economic freedom.  Americans for Prosperity’s scorecard gives you a great look at how our officials are voting.  Click here to find your legislators’ score. http://www.afpscorecard.org"><img src="<%= imagePath %>/socnet-stEmail.png" width="38" height="29" /></a>
                        
                        </div>
                    </div>
                </div>
                
                 <% 
                 var total = results.length; 
                 var davg = 0 ;
                 var ravg = 0;
                 
                 for(var i=0; i < results.length;i++) { 
                     ravg   +=  results[i].ravg;     
                     davg  += results[i].davg;
                 } 
                 repub = Math.round(ravg/total);
                 dem = Math.round(davg/total);
                 %>
                <table id="scoreTbl" class="rounded" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                      <% repub = (isNaN(repub)) ? '-' : repub+'%'; %>
                      <% dem = (isNaN(dem)) ? '-' : dem+'%'; %>
                    <td class="repScore"><%= repub %></td>
                    <td class="demScore"><%= dem %></td>
                  </tr>
                  <tr>
                    <td class="lScoreLbl">REPUBLICAN SCORE</td>
                    <td class="rScoreLbl">DEMOCRAT SCORE</td>
                  </tr>
                </table>
                <br class="clear" />
            </div>
            
            <div id="mainInner">
              <h2>Description</h2>
              <p><%= issue.description %></p>                         
              <h2>Latest Key Vote Alert</h2>
              <div class="link" id="<%= voteAlert.id %>"><%= voteAlert.excerpt %></div>    
            </div>
            <% if(results.length > 0){ %>
            <div id="mainInner" class="botRule">
                <h1>VOTES</h1>
                <div id="sortDrop" class="button btnGrey noHover">
                    <select name="sortby" id="sortby" class="sortList issueVoteSort">
                        <option value="NONE" selected="selected">Sort By</option>
                        <option value="chamber">Chamber</option>
                        <option value="vote_date">Date</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
                <script>
                    $(function(){
                        $(".tooltiper").tooltip()
                    })
                </script>
                 <table border="0" cellspacing="0" cellpadding="0" id="resultsTbl" class="overallResults">
                 <tr>
                    <td class="padCol title"></td>
                    <td class="tagCol title"><img src="<%= imagePath %>/icon-tag.png" width="25" height="22" /></td>
                    <td class="vNumCol title">Vote#</td>
                    <td class="chamberCol title">Chamber</td>
                    <td class="dateCol title">Date</td>
                    <td class="descripCol title">Description</td>
                    <td class="gopAvgCol title">GOP Avg Grade</td>
                    <td class="demAvgCol title">Dem Avg Grade</td>
                    <td class="padCol title"></td>
                  </tr>
                  <% for(var i=0; i < results.length;i++) { %>
                      <%
                        var tipIssue = results[i].vote.issue;
                        switch(tipIssue){
                                case 'budget':
                                    tipIssue = 'Budget & Spending';
                                    break;
                                case 'energy':
                                    tipIssue = 'Energy & Environment';
                                    break;
                                case 'health':
                                    tipIssue = 'Health Care & Entitlements';
                                    break;
                                case 'taxes':
                                    tipIssue = 'Taxes';
                                    break;
                                case 'labor':
                                    tipIssue = 'Labor, Education & Pensions';
                                    break;
                                case 'banking':
                                    tipIssue = 'Banking & Financial Services';
                                    break;
                                case 'property':
                                    tipIssue = 'Property Rights';
                                    break;
                                case 'technology':
                                    tipIssue = 'Technology';
                                    break;
                                case 'limited':
                                    tipIssue = 'Limited Government';
                                    break;
                                case 'first':
                                    tipIssue = 'First Amendment';
                                    break;
                        }
                   %>
                  <tr class="route" data-role="vote#<%=results[i].vote.id%>" >
                    <td class="padCol"></td>
                    <td class="tagCol"><i class="<%= results[i].vote.issue%>Icn tooltiper" data-toggle="tooltip" title="<%= tipIssue %>" ></i></td>
                    <td class="vNumCol"><%= results[i].vote.roll_call%></td>
                    <td class="chamberCol"><%= results[i].vote.chamber%></td>
                    <td class="dateCol"><%= results[i].vote.vote_date%></td>
                    <td class="descripCol"><%= results[i].vote.description%></td>
                    <td class="gopAvgCol"><%= results[i].ravg %>%</td>
                    <td class="demAvgCol"><%= results[i].davg %>%</td>
                    <td class="padCol"></td>
                  </tr>
                 <% } %>
                </table>
            <% }else{%>
                <div id="mainInner" class="">
                    <strong>No Votes Found</strong> 
                <br /><br />
                </div>
            <% } %>
        </div>
        <br class="clear" />
    </div> <!--end conBox -->
    
</div>