<div id="rowInner">
    <div id="conBox">
        <div id="mainBox" class="rounded">
            <div class="sessBar ">
                <div class="lowerSearch left">^ New Search</div>
                <div id="rtBtn" class="  button btnDkGreen noHover right">
                    <select name="session" id="session" class="sessionList2">
                        <option value="NONE" selected="selected">Select Session</option>
                        <option value="115" >115th (2017 - 2018)</option>
                        <option value="114" >114th (2015 - 2016)</option>
                        <option value="113" >113th (2013 - 2014)</option>
                        <option value="112" >112th (2011 - 2012)</option>
                        <option value="111" >111th (2009 - 2010)</option>
                        <option value="110" >110th (2007 - 2008)</option>
                    </select>
                </div>
                <br class="clear" />
            </div>
            <div id="mainInner" class="resInfo botRule">
                <div>
                    <%
                        switch(title){
                            case 'al':
                                state = 'Alabama';
                                img = 'alabama';
                                break;
                            case 'ak':
                                state = 'Alaska';
                                img = 'alaska';
                                break;
                            case 'az':
                                state = 'Arizona';
                                img = 'arizona';
                                break;
                            case 'ar':
                                state = 'Arkansas';
                                img = 'arkansas';
                                break;
                            case 'ca':
                                state = 'california';
                                img = 'california';
                                break;
                            case 'co':
                                state = 'Colorado';
                                img = 'colorado';
                                break;
                            case 'co':
                                state = 'Colorado';
                                img = 'colorado';
                                break;
                            case 'ct':
                                state = 'Connecticut';
                                img = 'connecticut';
                                break;
                            case 'de':
                                state = 'Delaware';
                                img = 'delaware';
                                break;
                            case 'fl':
                                state = 'Florida';
                                img = 'florida';
                                break;
                            case 'ga':
                                state = 'Georgia';
                                img = 'georgia';
                                break;
                            case 'hi':
                                state = 'Hawaii';
                                img = 'hawaii';
                                break;
                            case 'id':
                                state = 'Idaho';
                                img = 'idaho';
                                break;
                            case 'il':
                                state = 'Illinois';
                                img = 'illinois';
                                break;
                            case 'in':
                                state = 'Indiana';
                                img = 'indiana';
                                break;
                            case 'ia':
                                state = 'Iowa';
                                img = 'iowa';
                                break;
                           case 'ks':
                                state = 'Kansas';
                                img = 'kansas';
                                break;
                           case 'ky':
                                state = 'Kentucky';
                                img = 'kentucky';
                                break;    
                           case 'la':
                                state = 'Louisiana';
                                img = 'louisiana';
                                break;     
                           case 'me':
                                state = 'Maine';
                                img = 'maine';
                                break;    
                           case 'md':
                                state = 'Maryland';
                                img = 'maryland';
                                break;     
                           case 'ma':
                                state = 'Massachusetts';
                                img = 'massachusetts';
                                break;     
                           case 'mi':
                                state = 'Michigan';
                                img = 'michigan';
                                break;     
                           case 'mn':
                                state = 'Minnesota';
                                img = 'minnesota';
                                break;     
                           case 'ms':
                                state = 'Mississippi';
                                img = 'mississippi';
                                break;
                           case 'mo':
                                state = 'Missouri';
                                img = 'missouri';
                                break;
                           case 'mt':
                                state = 'Montana';
                                img = 'montana';
                                break;
                           case 'ne':
                                state = 'Nebraska';
                                img = 'nebraska';
                                break;
                           case 'nv':
                                state = 'Nevada';
                                img = 'nevada';
                                break;
                           case 'nh':
                                state = 'New Hampshire';
                                img = 'newhampshire';
                                break;
                           case 'nj':
                                state = 'New Jersey';
                                img = 'newjersey';
                                break;
                           case 'nm':
                                state = 'New Mexico';
                                img = 'newmexico';
                                break;
                           case 'ny':
                                state = 'New York';
                                img = 'newyork';
                                break;
                           case 'nc':
                                state = 'North Carolina';
                                img = 'northcarolina';
                                break;
                           case 'nd':
                                state = 'North Dakota';
                                img = 'northdakota';
                                break;
                           case 'oh':
                                state = 'Ohio';
                                img = 'ohio';
                                break;
                           case 'ok':
                                state = 'Oklahoma';
                                img = 'oklahoma';
                                break;
                           case 'or':
                                state = 'Oregon';
                                img = 'oregon';
                                break;
                           case 'pa':
                                state = 'Pennsylvania';
                                img = 'pennsylvania';
                                break;
                           case 'ri':
                                state = 'Rhode Island';
                                img = 'rhodeisland';
                                break;
                           case 'sc':
                                state = 'South Carolina';
                                img = 'southcarolina';
                                break;
                           case 'sd':
                                state = 'South Dakota';
                                img = 'southdakota';
                                break;
                           case 'tn':
                                state = 'Tennessee';
                                img = 'tennessee';
                                break;
                           case 'tx':
                                state = 'Texas';
                                img = 'texas';
                                break;
                           case 'ut':
                                state = 'Utah';
                                img = 'utah';
                                break;     
                           case 'vt':
                                state = 'Vermont';
                                img = 'vermont';
                                break;
                           case 'va':
                                state = 'Virginia';
                                img = 'virginia';
                                break;
                           case 'wa':
                                state = 'Washington';
                                img = 'washington';
                                break;     
                           case 'wv':
                                state = 'West Virginia';
                                img = 'westvirginia';
                                break;     
                           case 'wi':
                                state = 'Wisconsin';
                                img = 'wisconsin';
                                break;      
                           case 'wy':
                                state = 'Wyoming';
                                img = 'wyoming';
                                break;
                           case 'dc':
                                state = 'District of Columbia';
                                img = 'dc';
                                break;     
                                  
                        }
                    
                    
                    
                    
                    %>
                    
                    
                    <div id="infoIcon"><img src="<%= imagePath %>/states/<%= img %>.png" width="93" height="82" /></div>
                    <div id="infoTitle">
                        <h1><%= state %></h1>
                        <br class="clear" />
                        <div id="infoSocnet">
                            <a href="http://twitter.com/share?text=Check out your lawmakers’ votes at the @AFPhq scorecard &hashtags=tcot, fightback&url=http://www.afpscorecard.com"><img src="<%= imagePath %>/socnet-stTwt.png" width="42" height="29" /></a>
                        <a href="http://www.facebook.com/sharer.php?s=100&amp;p[title]=Americans For Prosperity - ScoreCard&amp;p[summary]=Are your federal legislators voting for economic freedom? You deserve to know. Check out Americans for Prosperity’s Federal Scorecard and see where they rank&amp;p[url]=http://afpscorecard.org&amp;&p[images][0]=http://afpscorecard.org/site/themes/afp/images/logo-afp.png"><img src="<%= imagePath %>/socnet-stFb.png" width="29" height="29" /></a>
                        <a href="mailto:?subject=AFP Scorecard&body=I just learned all about how my lawmakers are voting on issues of economic freedom.  Americans for Prosperity’s scorecard gives you a great look at how our officials are voting.  Click here to find your legislators’ score. http://www.afpscorecard.org"><img src="<%= imagePath %>/socnet-stEmail.png" width="38" height="29" /></a>
                            <a href="#" class="embed"><img src="<%= imagePath %>/socnet-stLoc.png" width="23" height="29"  /></a>
                        </div>
                    </div>
                </div>
                <table id="scoreTbl" class="rounded" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="repScore"><%= ravg %>%</td>
                    <td class="demScore"><%= davg %>%</td>
                  </tr>
                  <tr>
                    <td class="lScoreLbl">REPUBLICAN SCORE</td>
                    <td class="rScoreLbl">DEMOCRAT SCORE</td>
                  </tr>
                </table>
                <br class="clear" />
            </div>
            <table border="0" cellspacing="0" cellpadding="0" id="resultsTbl">
              <tr>
                <td class="padCol title"></td>
                <td class="nameCol title">Name</td>
                <td class="stateCol title">State</td>
                <td class="districtCol title">District</td>
                <td class="partyCol title">Party</td>
                <td class="cGradeCol title">Current Grade</td>
                <td class="lGradeCol title">Lifetime Grade</td>
                <td class="padCol title"></td>
              </tr>
              <% for(var i=0; i < results.length;i++) { %>
                  <% var estate = results[i].member.state; var econg = results[i].member.congress; %>
                  <tr class="route" data-role="member#<%= results[i].member.congID %>#<%= results[i].member.chamber %>">
                    <% var title = (results[i].member.chamber == 'house') ? 'Rep.' : 'Sen.'; %>
                    <td class="padCol"></td>
                    <td class="nameCol"><%= title %> <%= results[i].member.fName %> <%= results[i].member.lName %> </td>
                    <td class="stateCol"><%= results[i].member.state %></td>
                    <td class="districtCol"><%= results[i].member.district %></td>
                    <td class="partyCol"><%= results[i].member.party %></td>
                    <td class="cGradeCol"><%= results[i].scores.score %>%</td>
                    <td class="lGradeCol"><%= results[i].lifetime.lifeScore %>%</td>
                    <td class="padCol"></td>
                  </tr>
             <% } %>
            </table>
            
        </div>
        <br class="clear" />
    </div> <!--end conBox -->
    
</div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Embed Code for State</h3>
</div>
<div class="modal-body">
<p><textarea style="width:100%; height:100px;"><iframe src="http://afpscorecard.org/index.php/embed/state?state=<%= estate.toLowerCase() %>&congress=<%= econg %>" frameborder="0" width="275px" height="482px"></iframe></textarea></p>
</div>
<div class="modal-footer">

</div>
</div>