.memOuter {width:275px; height:248px; background:url(../images/memberHeader.jpg) no-repeat #f6f6f6;}
.stateOuter {width:275px; height:416px; background:url(../images/memberHeader.jpg) no-repeat #f6f6f6;}

.memPic {margin:32px 0 0 15px; }
.memPic img {width:104px;}

.statePic {margin:10px 0 0 0px; }
.statePic img {width:134px;}

.memtitle { width:133px; padding:70px 15px 0 0}
.memtitle h1 {font-size:18px; line-height: 16px; display:block; border-bottom:1px solid #dddddd; padding-bottom:3px; color:#010101; margin-bottom:4px;}
.memtitle .sub { text-transform:uppercase; color:#5e6963; font-size:12px;}

.statetitle {width:120px; padding:70px 15px 0 0}
.statetitle h1 {font-size:18px; line-height: 16px; display:block;  color:#010101;}

#scoreTbl {width:250px; margin:15px 0 0 15px;}
#scoreTbl.state {width:250px; margin:0px 0 0 15px;}
.curScore, .lifeScore {font-size:50px; line-height:45px}
.demScore, .repScore {font-size:50px; line-height:60px}
.lScoreLbl, .rScoreLbl {font-size:9px}

.footer {width:275px; height:54px; background:#232726; text-align:center; padding-top:11px}

.stateListing { height:200px; overflow-y:scroll}
.stateTable {margin-top:13px; width:100%}
.stateTable .one {padding-left:15px;}
.stateTable tr {height:30px;}
.stateTable tr:nth-child(even) { background-color: #e8e8e8;}
.stateTable th {text-align:left; font-size:12px}
.stateTable td {text-align:left; font-size:11px}