@charset "UTF-8";
/* CSS Document */

/* #178b52 Green - headlines, buttons, banner bg, footer bg */
/* #146335 Dark Green - footer text, footer button 			*/
/* #ffc526 Gold - top of gold gradient						*/
/* #ffa601 Dark Gold - bottom of gold gradient, links		*/
/* #9999a2 Grey - dates										*/
/* #5e6963 Grey - default text color, search field			*/
/* #232726 Dark Grey - button, search field border			*/
/* #f8f8f8 Light Grey - home news bg,						*/
/* #cdcdcd Light Grey h1 and news horz rules				*/

/* font-family: 'urbana', 'Open Sans Condensed', sans-serif; 					TYPE-KIT GOOGLE		*/
/* font-family: 'proxima-nova', 'Pontano Sans', sans-serif;						TYPE-KIT GOOGLE		*/
/* font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; 	TYPE-KIT @FONT-FACE	*/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
i {display: inline-block;}
.budgetIcn { background: url('../images/sprite-issues.png') no-repeat 0 0; width: 23px; height: 25px; }
.energyIcn { background: url('../images/sprite-issues.png') no-repeat 0 -36px; width: 23px; height: 20px; }
.healthIcn { background: url('../images/sprite-issues.png') no-repeat 0 -69px; width: 28px; height: 20px; }
.taxesIcn { background: url('../images/sprite-issues.png') no-repeat 0 -102px; width: 30px; height: 20px; }
.laborIcn { background: url('../images/sprite-issues.png') no-repeat 0 -136px; width: 30px; height: 20px; }
.bankingIcn { background: url('../images/sprite-issues.png') no-repeat 0 -169px; width: 26px; height: 21px; }
.propertyIcn { background: url('../images/sprite-issues.png') no-repeat 0 -203px; width: 24px; height: 21px; }
.technologyIcn { background: url('../images/sprite-issues.png') no-repeat 0 -236px; width: 22px; height: 22px; }
.techIcn { background: url('../images/sprite-issues.png') no-repeat 0 -236px; width: 22px; height: 22px; }

.left {float:left}
.right {float:right}
.clear {clear:both}

html, body {height:100%; width:100%;}
* {margin:0; padding:0;}

a, a img {outline:none; border:none; color:#ffa601; text-decoration:none}

body,td,th {
	font-family: 'proxima-nova', 'Pontano Sans', sans-serif;	font-size: 13px;
	line-height: normal;
	color: #5e6963;
}

body {background: url(../images/bkg.jpg) center top no-repeat #000; }

p{margin-bottom:14px; letter-spacing:.05em;}

h1 {font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; font-size:28px; line-height:30px; color:#000; margin-bottom:15px; font-weight:normal; text-transform:uppercase; letter-spacing:1px;}
#conBox h1 {border-bottom:2px solid #cdcdcd; padding-bottom:10px;}
#mainInner.botRule h1 { float:left; border-bottom:none; padding-bottom:0;}
h2 {font-family: 'urbana', 'Open Sans Condensed', sans-serif; font-size:18px; line-height:22px; color:#000; margin-bottom:5px; font-weight:normal;}
#sidebar h2 {color:#5e6963; text-transform:uppercase; margin:25px 0 10px;}
h3 {font-family: 'proxima-nova', 'Pontano Sans', sans-serif;	font-size:15px; line-height:21px; color:#178b52; margin-bottom:10px;}
h4 {font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; font-size:36px; line-height:36px; color:#000; margin-bottom:15px; font-weight:normal; text-transform:uppercase; letter-spacing:1px; border-bottom:2px solid #cdcdcd; border-bottom:2px solid #cdcdcd;}

.horzRule {display:block; height:1px; border-bottom:1px solid #fff; margin:10px 0 15px; background:#000; zoom: 1; filter: alpha(opacity=30); opacity: 0.3;}
.date {color:#9999a2;}

.shadow_up {
	-moz-box-shadow: 0px -1px 10px #000000;
	-webkit-box-shadow: 0px -1px 20px #000000;
	box-shadow: 0px -1px 10px #000000;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
}

.button {
	display:block;
	min-width:76px; 
	height:32px; 
	padding:0 12px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:12px;
	line-height:32px;
	font-family: 'urbana', 'Open Sans Condensed', sans-serif;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:.05em;
}

.rounded {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

.button:hover, .button:active, .fieldSearch #submit:hover, .fieldSearch #submit:active {zoom: 1; filter: alpha(opacity=80); opacity: 0.8;}
.noHover:hover, .noHover:active {zoom: 1; filter: alpha(opacity=100); opacity: 1;}

.btnSearch { width:280px; height:42px; padding:0 20px; font-size:18px; line-height:42px; text-align:left; margin:0 0 10px 0;}
.btnSend{ width:282px; height:42px; padding:0 20px; font-size:18px; line-height:42px; text-align:center; border:none; margin:0 auto;}

.dropArrow { margin:0 0 -3px 50px;}

.btnGreen {background:#178b52; color:#ffffff;}
.btnDkGreen {background:#146335; color:#ffffff;}
.btnBlack {background:#000; color:#fff;}
.btnDkGrey {background:#232726; color:#5e6963;}
.btnGrey {background:#5e6963; color:#ffffff;}
.btnGold {
	background: #FFC526;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFC526), to(#ffa601));
	background: -webkit-linear-gradient(#FFC526, #ffa601);
	background: -moz-linear-gradient(#FFC526, #ffa601);
	background: -ms-linear-gradient(#FFC526, #ffa601);
	background: -o-linear-gradient(#FFC526, #ffa601);
	background: linear-gradient(#FFC526, #ffa601);
	-pie-background: linear-gradient(#FFC526, #ffa601);
	color: #000000;
}

#stickyOuter {min-height: 100%;}
#stickyInner {padding:0 0 153px 0; overflow:hidden;}

#rowOuter {width:100%;}
#rowInner {width:1006px; margin:0 auto;}

/*TOP ROW*/
#rowOuter.topRow { background:#000;}
	#rowOuter.topRow #rowInner {padding:10px 0 9px 0;}
		#ltBtn {float:left; margin:0 4px 0 32px;}
		#midBtn {float:right; margin:0 4px;}
		#rtBtn {float:right; margin:0 21px 0 55px;}

/*NAV ROW*/		
#rowOuter.navRow { background:none; padding:2px 0 9px 0;}
	#logoAFP {float:left; margin:2px 0 0 32px; }
	#nav {float:right; height:44px; margin:16px 0 0 0; list-style:none; background:#000; padding:0 10px;}
		#nav li {float:left;}
		#nav li a{ float:left; height:44px; padding:0 22px; font-size:15px; line-height:44px; text-align:center; color:#FFF; font-family: 'urbana', 'Open Sans Condensed', sans-serif; text-transform:uppercase;}
		#nav li a:hover, #nav li a:active { color:#ffa601;} 
		#nav .ddArrow{ display:inline-block; background:url(../images/nav-darrow.jpg) 0 0 no-repeat; width:10px; height:12px; margin:0 0 0 14px;}
		#nav .ddArrow.active {background:url(../images/nav-darrow.jpg) -10px 0 no-repeat;}

/*BANNER ROW*/
#rowOuter.bannerRow { background:#178b52;}
	#rowOuter.bannerRow #rowInner { padding:20px 0;}
	#logoSCard { float:left; margin:0 0 0 32px;}
	#socnet {float:right; margin:20px 5% 0 0; font-size:16px; font-family: 'urbana', 'Open Sans Condensed', sans-serif; color:#000; text-transform:uppercase; }
		#socnet img {margin:0 3px -5px 3px;}

/*SEARCH ROW*/
#rowOuter.searchRow {background:none; padding:0 0 20px 0;}
	#searchNavBox { float:left; width:320px; margin:0 0 0 22px; padding:34px 28px 5px; background:url(../images/bg-trans_black.png); color:#FFF;}
		#searchNavBox h1 {font-size:19px; color:#FFF; margin-bottom:8px;}
		#searchNavBox .searchToggle {margin:7px auto 0; height:8px; width:100px; background:url(../images/btn-searchToggle.png) 0 0 no-repeat;}
		#searchNavBox .searchToggle:hover {background:url(../images/btn-searchToggle.png) 0 -8px no-repeat;}
			.fieldSearch { width:300px; height:42px; padding:0 10px; margin:0 0 10px 0; font-size:20px; line-height:42px; display:none;}
			.searchNavField { 
				width:72%; height:31px; border:none; padding:0 5%;
			 	background: #fff; margin:5px; float:left;
				line-height:31px; font-family: 'urbana', 'Open Sans Condensed', sans-serif; 
				font-size:15px; text-transform:uppercase; color:#000; overflow:hidden;
			}
			.searchNavField select {width:100%; border:none; background:none; height:24px; line-height:24px; -webkit-appearance: none; margin:3px 0 0 0; padding:0; letter-spacing:.04em; font-family: 'urbana', 'Open Sans Condensed', sans-serif; font-size:15px; text-transform:uppercase; color:#000; display:block; }
			.fieldSearch #submit {padding:7px 7px 8px 0px; float:left; margin:5px 0 0 0;}
	#searchConBox { float:left; margin:52px 0 0 30px; min-height:400px; max-width:550px; }
		.searchDD {padding:44px 0 0 53px; display:none;}
			.searchFieldOuter { padding:6px; float:left; background:#232726; margin:11px 0; }
			.searchField { 
				width:368px; height:32px; border:none; padding:0 35px;
			 	background:url(../images/icon-search.png) left center no-repeat #5e6963; 
				line-height:32px; font-family: 'urbana', 'Open Sans Condensed', sans-serif; 
				font-size:15px; text-transform:uppercase; color:#fff;
			}
			#searchConBox #submit {border:none; width:100px; float:right;}
		#byState.searchDD {padding:0;}
		#byIssue.searchDD {max-width:425px;}
			#byIssue img { margin:0 8px 30px 0; float:left;}
			#byIssue p {text-align:center; color:#FFF; font-size:14px; width:100%;}

/*CONTENT ROW*/
#rowOuter.contentRow {min-height:100px; background:none;}
	/*General*/
	#conBox { background:none; margin-bottom:20px;}
	#conBox.hasSidebar { padding:0 345px 0 0;}
	.newsItem {padding:0 0 10px 0; margin:0 0 15px 0; border-bottom:1px dashed #cdcdcd;}
	.newsItem:last-child {border-bottom:none; padding-bottom:0;}
	
	/*Main Content*/
	#mainBox {width:100%; background:#fff; padding:0; min-width:310px;}
	#conBox.hasSidebar #mainBox { width:92%; float:left; background:#f8f8f8; padding:30px 4% 20px 4%;}
		#mainInner { padding:20px 3% 0; position:relative;}
		#mainInner.botRule {border-bottom:2px solid #cdcdcd; margin-bottom:10px;}
		
			#infoIcon {float:left; padding-bottom:10px;}
			#infoTitle {float:left;}
			#infoTitle h1 {margin-bottom:5px;}
			#infoVote {float:left; margin:40px 0 20px 0; font-size:16px; text-transform:uppercase; font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; color:#000; width:280px;}
				#infoVote div {float:left;}
				#infoVote div.vResult { float:right; padding:10px 0 0 0;}
				#infoVote .rounded { padding:2px 5px;}
		
		#mainInner.repInfo { padding:20px 0 10px 0; margin:0 3%; }
			#profilePic { width:180px; height:200px; float:left; margin:0 0 0 0; padding:0 10px 0 0; background:#fff;}
			#profileInfo {font-size:18px; text-transform:uppercase; margin:0; float:none; width:auto;}
			
			#infoSocnet {float:left;}
			#profileInfo #infoSocnet {margin-top:60px;}
				#infoSocnet img {padding:5px 5px 10px 0;}
			
			#scoreTbl {width:320px; background:#FFF; overflow:hidden; }
			.voteResultsBox #scoreTbl {width:290px; background:#FFF; overflow:hidden; }
			#mainInner.repInfo  #scoreTbl { float:left; width:420px; margin-top:3px; }
			#mainInner.resInfo #scoreTbl { margin:0 0 10px 0; float:right; }
				#scoreTbl td {width:50%; text-align:center; vertical-align:middle; }
				.repScore, .demScore {font-size:85px; line-height:88px; font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; }
				.curScore, .lifeScore {font-size:100px; line-height:103px; font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; padding:5px 0; }
				.repScore { color:#e00035; background:#efefef }
				.demScore { color:#548fdd; background:#e8e8e8}
				.curScore { color:#178b52; background:#efefef}
				.lifeScore { color:#e00035; background:#e8e8e8}
				.lScoreLbl {background:#dfdfdf; height:20px;}
				.rScoreLbl {background:#d9d9d9; height:20px;}
			#sortDrop{ position:absolute; top:18px; right:3%;}
			#mainInner.repInfo #sortDrop {right:0;}
			
			#graphBox {width:480px; float:right;}
				#graphBox h2 {float:left; text-transform:uppercase; color:#5e6963;}
				#graphBox a { float:right; padding:5px 0 0 0; text-transform:uppercase; color:#178B52;}
				#scoreGraph {width:480px; background-color:#e8e8e8; padding:16px 0; }
					#graphRow { height:31px; padding:0 0 0 55px; margin:0 40px 0 0; border-right:1px solid #d7d7d7;}
						#gRowIcon {float:left; width:54px; height:30px; text-align:center; border-right:1px solid #d7d7d7; margin:0 0 0 -55px;}
							#gRowIcon i {margin:5px 0 0 0;}
						#gRowBar { height:22px; margin:4px 0 5px 0; float:left; background:#178b52; width:50%}
							#gRowBar.red {background:#e00035;}
						#gRowNum {height:22px; width:40px; float:right; margin:0 -40px 0 0; text-align:center; background:#fff; color:#178b52; font-family: 'urbana', 'Open Sans Condensed', sans-serif; line-height:22px; font-size:16px;} 
							#gRowBar.red #gRowNum {color:#e00035;}
							
		/*results data*/
		#resultsTbl{ width:100%;}
			#resultsTbl td {height:40px; vertical-align:middle; padding:5px 5px;}
			#resultsTbl tr:nth-child(even) {background: #e8e8e8;}
			td.title { text-transform:uppercase; font-family: 'urbana', 'Open Sans Condensed', sans-serif; font-size:18px; line-height:20px; color:#000;  font-weight:normal;}
			.padCol { width:3%; padding:0;}
			/* Column Sets below should add up to 94% */
			/*Columns - State, Name, Zip Results*/
			.nameCol { width:28%;}
			.stateCol {width:10%; }
			.districtCol {width:12%;}
			.partyCol {width:10%;}
			.cGradeCol {width:17%;}
			.pGradeCol {width:17%;}
			/*Columns - Vote Results*/
			#resultsTbl.voteResults .nameCol { width:34%;}
			#resultsTbl.voteResults .partyCol {width:15%;}
			#resultsTbl.voteResults .stateCol {width:15%; }
			#resultsTbl.voteResults .scoreCol {width:15%;}
			#resultsTbl.voteResults .votedCol {width:15%;}
			/*Columns - Issue Results*/
			#resultsTbl.issueResults .vNumCol {width:12%;}
			#resultsTbl.issueResults .dateCol {width:12%;}
			#resultsTbl.issueResults .descripCol {width:50%;}
			#resultsTbl.issueResults .afpPosCol {width:10%;}
			#resultsTbl.issueResults .avgScoreCol {width:10%;}
			/*Columns - Overall Results*/
			#resultsTbl.overallResults .tagCol {width:5%}
			#resultsTbl.overallResults .vNumCol {width:8%;}
			#resultsTbl.overallResults .chamberCol {width:10%}
			#resultsTbl.overallResults .dateCol {width:8%;}
			#resultsTbl.overallResults .descripCol {width:35%;}
			#resultsTbl.overallResults .gopAvgCol {width:14%;}
			#resultsTbl.overallResults .demAvgCol {width:14%;}
			/*Columns - Rep Results*/
			#resultsTbl.repResults .tagCol {width:5%}
			#resultsTbl.repResults .vNumCol {width:8%;}
			#resultsTbl.repResults .dateCol {width:8%;}
			#resultsTbl.repResults .chamberCol {width:12%}
			#resultsTbl.repResults .descripCol {width:37%;}
			#resultsTbl.repResults .afpPosCol {width:14%;}
			#resultsTbl.repResults .votedCol {width:10%;}
		
	/*Sidebar*/
	#sidebar {width:285px; float:right; padding:30px 25px 20px; margin:0 -345px 0 0; background:#fff;}
		#sidebar label {font-size:12px; color:#9999a2;}
		.joinField {width:94%; height:32px; padding:0 3%; margin-bottom:13px; border:1px solid #cdcdcd; line-height:32px; font-family: 'urbana', 'Open Sans Condensed', sans-serif; font-size:15px;}
		#submitOuter {width:100%; height:42px; margin:0 0 -20px -25px; padding:20px 25px; background:#e4e4e4; border-top:6px solid #FFF; text-align:center; }
		
		/*Alerts Sidebar*/
		.alertSearchBox {float:left; width:100%;}
		#sidebar .searchField { width:110px; padding:0 35px; background:url(../images/icon-search.png) left center no-repeat #232726; }
		#sidebar .searchSubmit {border:none; width:25px; height:32px; margin:0 0 0 5px; font-family: 'urbana', 'Open Sans Condensed', sans-serif; font-size:14px;}
		.chamberBtn {float:left; margin:0 10px 0 0; color:#FFF;}
		.issueItem { float:left; font-size:14px; color:#000; font-family: 'urbana', 'Open Sans Condensed', sans-serif; width:100%; margin:0 0 12px 0; }
			.issueItem i {width:43px; margin-bottom:-5px}
		
			
/*FOOTER ROW*/
#rowOuter.footer{position:relative; height:153px; width:100%; margin-top:-153px; background:#178b52;}
	#conBox.footer{padding:25px 320px 0 30px; background:none;}
	#footBox {width:100%; padding:10px 0 0 0; float:left; font-family: 'urbana', 'Open Sans Condensed', sans-serif; text-transform:uppercase;}
		#footBox a {margin:0 5px 0 15px; color:#FFF;}
		.footInfo {color:#146335; margin:0 0 0 15px; line-height:15px; display:block; font-size:12px;}
	#sidebar.footer {width:280px; float:right; padding:0 20px 0 20px; margin:0 -320px 0 0; background:none}
		#footBtn {float:left; margin:4px 0 0 8px}
		#footBtn .dropArrow { margin:0 0 -3px 35px;}
