@charset "UTF-8";
/* CSS Document */

@media only screen 
and (max-width : 1210px)

{
#rowInner {width:auto; min-width:310px; margin:0 5px;}
	
	
}

@media only screen 
and (max-width : 1050px)

{
/*NAV ROW*/
#rowOuter.navRow { background:none; padding:2px 0 9px 0;}
	#rowOuter.topRow #rowInner > .right {float: none; margin:10px auto 0 auto; text-align: center;}
	#rowOuter.topRow #rowInner .menu-item {float: none; display: inline-block;    vertical-align: top;}
	#logoAFP {margin:2px 0 0 0; width:100%; text-align:center; float: none;}
	/*#nav {padding:0 2%; width:96%; text-align:center;}
		#nav li {float:none; display:inline;}
		#nav li a{ float:none; padding:0 4%;}*/
	
/*SEARCH ROW*/
	#searchNavBox { float:left; width:92%; margin:0; padding-left:4% !important; padding-right:4% !important;}
	#searchConBox { float:none; width:550px; margin:0 auto; }
	.searchDD {float:left; padding:0 20px 0 20px; margin-top:20px;}
	#byIssue.searchDD { margin-left:45px;}
	
/*CONTENT ROW */
	#infoVote {float:right;}
	#mainBox.voteResultsBox #scoreTbl {width:100%;}
/*SEARCH ROW*/	
	#searchNavBox { float:left; width:28%; margin:0; padding:34px 20px 5px; }
			.btnSearch { width:auto;}
	#searchConBox { float:left; margin:52px 0 0 5px; }
	.searchDD {padding:40px 20px 0 60px; width:470px; display:none;}
	#byState.searchDD { padding:0; width:550px;}
	.searchFieldOuter { padding:6px; float:none; background:#232726; margin:11px 0 0; width:auto; }
			.searchField { width:90%; padding:0 4% 0 6%;}
			
/* CONTENT ROW */
#scoreTbl.repScore {width:100% !important; }
#graphBox {width:100%; float:left;}
	#scoreGraph {width:100%;padding:16px 0; }
}

@media only screen 
and (max-width : 870px)

{

	/*SEARCH ROW*/
	#searchNavBox { float:left; width:92%; margin:0; padding-left:4% !important; padding-right:4% !important;}
			.btnSearch {display:none;}
			.fieldSearch { width:auto; height:52px; padding:0 2%; margin:0 0 10px 0; font-size:20px; line-height:42px; display:block}
			.fieldSearch #submit {float:right; margin:10px 0 0 0;}
	#searchConBox {display:none !important;}
	
	
	
}

@media only screen 
and (max-width : 700px)

{
/*CONTENT ROW*/
.column {height:auto !important;}
#sidebar.column {width: 300px; margin: 20px auto; box-sizing: border-box;padding: 0;}

#conBox.hasSidebar { padding:0;}
#conBox.hasSidebar #mainBox { width:auto; min-width:280px; float:none; padding:30px 15px 20px;}
/*Sidebar*/
#sidebar {width:auto; min-width:280px; float:none; padding:30px 15px 20px; margin:20px 0 0 ;}
	#submitOuter {width:100%; height:42px; margin:0 0 -20px -15px; padding:20px 15px;  }
	.alertSearchBox {float:left; width:50%; min-width:240px;}

}

@media only screen 
and (max-width : 650px)

{

/*TOP ROW*/
	#ltBtn {float:left; margin:0 4px 0 4px;}
	#midBtn {float:right; margin:0 4px;}
	#rtBtn {float:right; margin:0 4px 0 4px;}
		
/*FOOTER ROW*/
	#conBox.footer{padding:15px 0 0 0; min-width:310px;}
	#footBox {width:100%; padding:0; float:left; text-align:center;}
		#footBox a {margin:0 10px 0 10px;}
		.horzRule {display:block; height:1px; border-bottom:1px solid #fff; margin:10px 0 10px; background:#000; zoom: 1; filter: alpha(opacity=30); opacity: 0.3;}
		.footInfo {margin:0 0 8px 0;}
	#sidebar.footer {float:none; margin:0 auto; }
	

	
}

@media only screen 
and (max-width : 550px)

{

/*TOP ROW*/
#rowOuter.topRow { border-bottom:1px solid #4d4d4d;}
	#rowOuter.topRow #rowInner {padding:10px 0 0px 0;}
		#ltBtn {float:left; margin:0 4px 8px 0;}
		#midBtn {float:none; clear:both; margin:8px 0 0;}
		#rtBtn {float:right; margin:0 0 8px 4px;}
		
/*NAV ROW*/
#rowOuter.navRow { background:none; padding:2px 0 9px 0;}
	#logoAFP {margin:2px 0 0 0; width:100%; text-align:center;}
	#nav {padding:0 2%; width:96%; text-align:center; height:auto;}
		#nav li {    
			float: right;
		    width: auto;
		    font-size: 12px;
		}
	    #nav li #rtBtn {
		    float: none;
		    margin: 0;
		    display: inline;
	    }
	    #nav li #rtBtn .DivSelectyze {
	    	float :none;
	    }
	    #nav li #rtBtn .DivSelectyze a {
    	    font-size: 12px;
		    padding: 0;
		    float: none;
		    width: auto;
		    padding-right: 15px;
	    }
	    #nav li a.searchToggle {
    	    padding-right: 22px;
    		float: none;
    		font-size: 12px;
	    }
		#nav li a{ display:inline-block; padding:0;}

/*BANNER ROW*/
#rowOuter.bannerRow #rowInner { padding:20px 0;}
	#logoSCard { float:left; margin:0; width:100%; text-align:center;}
		#logoSCard img {width:310px; height:auto;}
	#socnet {float:left; margin:20px 0 0 0; width:100%; text-align:center; }
		#socnet img {margin:0 3px -5px 3px;}
		
/*CONTENT ROW*/
#mainInner.botRule h1 {width:100%; margin-bottom:0; padding-bottom:0;}
#sortDrop{ position:relative; float:left; margin:5px 0 10px 0; top:0; right:auto;}

.repInfo h4{float:left}

#mainBox.voteResultsBox {}
#mainBox.voteResultsBox #infoVote {float:left; margin:10px 0; width:100%;}


/*Results Column Switches */
/*Columns - Overall Results*/
#resultsTbl.overallResults .descripCol {display:none;}

/*Columns - Rep Results*/
#resultsTbl.repResults .descripCol {display:none;}

.overallBtns 	{margin-left:-10px; width:100%;}	
		
}

@media only screen 
and (max-width : 450px)

{

	
/*CONTENT ROW*/
td.title {font-size:12px;}
#scoreTbl {width:100%; float:left; }
.repInfo #profilePic { width:40%; height:auto;}
.repInfo #profilePic img {width:100%; height:auto;}
#profileInfo #infoSocnet {float:left; margin-top:5%;}

/*Results Column Switches */
/*Columns - State, Name, Zip Results*/
.districtCol {display:none;}
			
/*Columns - Issue Results*/
#resultsTbl.issueResults .descripCol {display:none;}

/*Columns - Overall Results*/
#resultsTbl.overallResults .dateCol {display:none;}

/*Columns - Rep Results*/
#resultsTbl.repResults .dateCol {display:none;}
		
}