@charset "UTF-8";
/* CSS Document */

/* #178b52 Green - headlines, buttons, banner bg, footer bg */
/* #146335 Dark Green - footer text, footer button 			*/
/* #ffc526 Gold - top of gold gradient						*/
/* #ffa601 Dark Gold - bottom of gold gradient, links		*/
/* #9999a2 Grey - dates										*/
/* #5e6963 Grey - default text color, search field			*/
/* #232726 Dark Grey - button, search field border			*/
/* #f8f8f8 Light Grey - home news bg,						*/
/* #cdcdcd Light Grey h1 and news horz rules				*/

/* font-family: 'urbana', 'Open Sans Condensed', sans-serif; 					TYPE-KIT GOOGLE		*/
/* font-family: 'proxima-nova', 'Pontano Sans', sans-serif;						TYPE-KIT GOOGLE		*/
/* font-family: 'alternate-gothic-no-1-d', 'LeagueGothicRegular', sans-serif; 	TYPE-KIT @FONT-FACE	*/

/*@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/
i {display: inline-block;}
.budgetIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 0; width: 23px; height: 25px; }
.energyIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -36px; width: 23px; height: 20px; }
.healthIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -69px; width: 28px; height: 20px; }
.taxesIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -102px; width: 30px; height: 20px; }
.laborIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -136px; width: 30px; height: 20px; }
.bankingIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -169px; width: 26px; height: 21px; }
.propertyIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -203px; width: 24px; height: 21px; }
.technologyIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -236px; width: 22px; height: 22px; }
.techIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -236px; width: 22px; height: 22px; }
.limitedIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -305px; width: 22px; height: 22px; }
.firstIcn { background: url('../images/sprite-issues-2.png') no-repeat 0 -270; width: 22px; height: 22px; }

.left {float:left}
.right {float:right}
.clear {clear:both}

html, body {height:100%; width:100%;}
* {margin:0; padding:0;}

a, a img {outline:none; border:none; color:#ffa601; text-decoration:none}

body,td,th {
	font-family: 'Lato', sans-serif;	font-size: 13px;
	line-height: normal;
	color: #5e6963;
}

/*body {background: url(../images/bkg.jpg) center -52px no-repeat #000; }*/
body {}

.bg_image_cont {background: url('../images/bg_image.jpg') no-repeat center center #fff; background-size: cover;}

p{margin-bottom:14px; letter-spacing:.05em;}

h1 {font-family: 'Libre Baskerville', serif; font-size:28px; line-height:30px; color:#000; margin-bottom:15px; font-weight:normal; text-transform:uppercase; letter-spacing:1px;}
#conBox h1 {border-bottom:2px solid #cdcdcd; padding-bottom:10px;}
#mainInner.botRule h1 { float:left; border-bottom:none; padding-bottom:0;    font-family: 'Raleway', sans-serif;font-size: 20px;}
h2 {font-family: 'Libre Baskerville', serif; font-size:18px; line-height:22px; color:#000; margin-bottom:5px; font-weight:normal;}
#sidebar h2 {color:#5e6963; text-transform:uppercase; margin:25px 0 10px;}
h3 {font-family: 'Raleway', sans-serif;	font-size:15px; line-height:21px; color:#178b52; margin-bottom:10px;}
h4 {font-family: 'Raleway', sans-serif; font-size:36px; line-height:36px; color:#000; margin-bottom:15px; font-weight:normal; text-transform:uppercase; letter-spacing:1px; border-bottom:2px solid #cdcdcd; border-bottom:2px solid #cdcdcd;}

.horzRule {display:block; height:1px; border-bottom:1px solid #fff; margin:10px 0 15px; background:#000; zoom: 1; filter: alpha(opacity=30); opacity: 0.3;}
.date {color:#9999a2; font-family: 'Raleway', sans-serif; text-transform: uppercase;}

.shadow_up {
	-moz-box-shadow: 0px -1px 10px #000000;
	-webkit-box-shadow: 0px -1px 20px #000000;
	box-shadow: 0px -1px 10px #000000;
	/* For IE 8 */
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#000000');
}

.button {
	display:block;
	min-width:76px; 
	height:32px; 
	padding:0 12px; 
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 6px;
	font-size:12px;
	line-height:32px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:0;
	cursor: pointer;
}

.rounded {-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

.button:hover, .button:active, .fieldSearch #submit:hover, .fieldSearch #submit:active {zoom: 1; filter: alpha(opacity=80); opacity: 0.8;}
.noHover:hover, .noHover:active {zoom: 1; filter: alpha(opacity=100); opacity: 1;}

.btnSearch { width:280px; height:42px; padding:0 20px; font-size:18px; line-height:42px; text-align:left; margin:0 0 10px 0;}
.btnSend{ width:282px; height:42px; padding:0 20px; font-size:18px; line-height:42px; text-align:center; border:none; margin:0 auto;}

.dropArrow { margin:0 0 -3px 50px;}

.btnGreen {background:#178b52; color:#ffffff;}
.btnDkGreen {background:#146335; color:#ffffff;}
.btnBlack {background:#000; color:#fff;}
.btnDkGrey {background:#232726; color:#5e6963;}
.btnDkGreyWhite {background:#232726; color:#fff;}
.btnGrey {background:#5e6963; color:#ffffff;}
.btnGold {
	background: #FFC526;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFC526), to(#ffa601));
	background: -webkit-linear-gradient(#FFC526, #ffa601);
	background: -moz-linear-gradient(#FFC526, #ffa601);
	background: -ms-linear-gradient(#FFC526, #ffa601);
	background: -o-linear-gradient(#FFC526, #ffa601);
	background: linear-gradient(#FFC526, #ffa601);
	-pie-background: linear-gradient(#FFC526, #ffa601);
	color: #000000;
}

.bigCta {
    width: 100%;
    box-sizing: border-box;
    font-size: 34px;
    height: auto;
    padding: 1em;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
    border: 3px solid #444;
    text-align: center;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.popup {
	width: 100%;
	max-width: 480px;
	background: #fff;
	padding: 1em;
	box-sizing: border-box;
	position: fixed;
	z-index: 99999999;

}
.popup  iframe {
	width: 100%;
	height: 100%;
	border: none;
}
.popup.hidden {
	display: none;
}

.popup_close {
	position: absolute;
    right: 0;
    top: 0;
    background: black;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border: 1px solid #fff;
    cursor: pointer;
}

#fade {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	z-index: 999999;
}

#stickyOuter {min-height: 100%;}
#stickyInner {padding:0 0 153px 0; overflow:hidden;}

#rowOuter {width:100%;}
#rowInner {width:1200px; margin:0 auto;}

/*TOP ROW*/
#rowOuter.topRow {}
	#rowOuter.topRow #rowInner {padding:10px 0 9px 0;}
	#rowOuter.topRow #ltBtn {float:left; margin:0 4px 0 32px;}
		#midBtn {float:right; margin:0 4px;}
		#rtBtn {float:right;}
	#rowOuter.topRow .menu-item {
		display:block;
		min-width:76px; 
		height:60px; 
		padding:0 12px; 
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		font-size:14px;
		font-weight: 700;
    	letter-spacing: 0.05em;
		line-height:60px;
		font-family: 'Raleway', sans-serif;
		text-align:center;
		text-transform:uppercase;
		color: #fff;
		float: left;
    margin: 0 4px;
	}

	#rowOuter.topRow .menu-item.hasDropdown {   cursor: pointer; border: 1px solid #fff;line-height: 32px;height: 32px;margin-top: 13px;}
	#rowOuter.topRow .menu-item.hasDropdown .ddArrow{ display:inline-block; background:url(../images/nav-darrow.png) 0 0 no-repeat; width:10px; height:12px; margin:0 0 0 14px;}
	#rowOuter.topRow .menu-item.hasDropdown .ddArrow.active {background:url(../images/nav-darrow.png) -10px 0 no-repeat;}
	#rowOuter.topRow .menu-item.hasDropdown {position: relative;}
	#rowOuter.topRow .menu-item.hasDropdown ul.sub-menu {
		display: none;
		    list-style-type: none;
    margin-top: 1em;
    z-index: 99999;
    position: relative;
    background: #000;
    border: 1px solid #fff;
    width: auto;
    padding: 0 12px;
    margin-left: -12px;
    border-radius: 6px;
    position: absolute;
    right: 0;
    top: 100%;
	}

	#rowOuter.topRow .menu-item.hasDropdown ul.sub-menu li {
		float: none;
		margin: 0;
		display: block;
	}

	#rowOuter.topRow .menu-item.hasDropdown ul.sub-menu li a {
		    float: none;
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
    line-height: 1em;
    text-align: left;
    padding: .5em;
	}

	.menu-item .ddArrow{ display:inline-block; background:url(../images/nav-darrow.jpg) 0 0 no-repeat; width:10px; height:12px; margin:0 0 0 14px;}
	.menu-item .ddArrow.active {background:url(../images/nav-darrow.jpg) -10px 0 no-repeat;}

	#logoAFP {float:left; margin:2px 0 0 32px; }
	#logoAFP a {}
	#logoAFP a img {height: 60px; width:auto;}

/*NAV ROW*/		
#rowOuter.navRow { background:none; padding:2px 0 9px 0;}
	#nav {float:right; height:44px; margin:16px 0 16px 0; list-style:none; background:#000; padding:0 10px;}
		#nav > li {float:left;}
		#nav > li > a, #nav li .DivSelectyze > a{ float:left; height:44px; padding:0 22px; font-size:15px; line-height:44px; text-align:center; color:#FFF; font-family: 'Raleway', sans-serif; text-transform:uppercase;}
		#nav > li > a:hover, #nav li a:active { color:#ffa601;} 
		#nav li .DivSelectyze a.selectyzeValue {background-image: url(../images/nav-darrow-down.jpg);background-position: right center;}
		#nav .ddArrow{ display:inline-block; background:url(../images/nav-darrow.jpg) 0 0 no-repeat; width:10px; height:12px; margin:0 0 0 14px;}
		#nav .ddArrow.active {background:url(../images/nav-darrow.jpg) -10px 0 no-repeat;}
	

/*BANNER ROW*/
#rowOuter.bannerRow { }
	#rowOuter.bannerRow #rowInner { padding:20px 0;}
	#logoSCard { float:left; margin:0 0 0 32px;}
	#socnet {float:right; margin:20px 5% 0 0; font-size:14px; font-family: 'Raleway', sans-serif; color:#fff; text-transform:uppercase; }
		#socnet img {margin:0 3px -5px 3px;}

/*SEARCH ROW*/
#rowOuter.searchRow {background:none; padding:50px 0 0px 0; box-sizing:border-box; overflow: hidden;}
#rowOuter.searchRow #rowInner {width: 100%; max-width: 1200px; margin:0 auto; overflow: hidden; border-radius: 3px;}
	#rowOuter.searchRow #rowInner .wrap {width: 100%; max-width: 1000px; margin: 0 auto;}
	#searchNavBox { float:left; width:320px; margin:0 0 0 22px; padding:34px 28px 5px;}
		#searchNavBox h1 {font-size:19px; margin-bottom:8px;}
		#searchNavBox .searchToggle {margin:7px auto 0; height:8px; width:100px; background:url(../images/btn-searchToggle.png) 0 0 no-repeat;}
		#searchNavBox .searchToggle:hover {background:url(../images/btn-searchToggle.png) 0 -8px no-repeat;}
			.fieldSearch { width:300px; height:42px; padding:0 10px; margin:0 0 10px 0; font-size:20px; line-height:42px; display:none;}
			.searchNavField { 
				width:63%; height:31px; border:none; padding:0 5%;
			 	background: #fff; margin:10px; float:left;
				line-height:31px; font-family: 'Lato', sans-serif; 
				font-size:15px; text-transform:uppercase; color:#000; overflow:hidden;
			}
			.searchNavField select {width:100%; border:none; background:none; height:24px; line-height:24px; -webkit-appearance: none; margin:3px 0 0 0; padding:0; letter-spacing:.04em; font-family: 'Raleway', sans-serif; font-size:15px; text-transform:uppercase; color:#000; display:block; }
			.fieldSearch #submit {    float: left;
    margin: 5px 0 0 0;
    border: none;
    background: black;
    padding: 0 5px;
    height: 31px;
    line-height: 31px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: -1px;}
	#searchConBox { float:left; margin:52px 0 0 30px; min-height:400px; max-width:550px; padding-bottom: 20px; }
		.searchDD {padding:44px 0 0 53px; display:none;}
		#byState.searchDD {display:block}
			.searchFieldOuter { padding:6px; float:left; background:#232726; margin:11px 0; }
			.searchField { 
				width:368px; height:32px; border:none; padding:0 35px;
			 	background:url(../images/icon-search.png) left center no-repeat #5e6963; 
				line-height:32px; font-family: 'Lato', sans-serif; 
				font-size:15px; text-transform:uppercase; color:#fff;
			}
			#searchConBox #submit {border:none; width:100px; float:right;}
		#byState.searchDD {padding:0;}
		#byIssue.searchDD {max-width:425px;}
			#byIssue img { margin:0 8px 30px 0; float:left;}
			#byIssue p {text-align:center; color:#FFF; font-size:14px; width:100%;}

/*CONTENT ROW*/
#rowOuter.contentRow {min-height:100px; background:none; margin-top: 50px;}
	/*General*/
	#conBox { background:none; margin-bottom:20px;}
	#conBox.hasSidebar { padding:0 345px 0 0;}
	.newsItem {padding:0 0 10px 0; margin:0 0 15px 0; border-bottom:1px dashed #cdcdcd;}
	.newsItem:last-child {border-bottom:none; padding-bottom:0;}
	
	/*Main Content*/
	#mainBox {width:100%; background:#fff; padding:0; min-width:310px;}
	#conBox.hasSidebar #mainBox { width:92%; float:left; background:#f8f8f8; padding:30px 4% 20px 4%;}
		#mainInner { padding:20px 3% 0; position:relative;}
		#mainInner.botRule {border-bottom:2px solid #cdcdcd; margin-bottom:10px;}
		
			#infoIcon {float:left; padding-bottom:10px;}
			#infoTitle {float:left;}
			#infoTitle h1 {margin-bottom:5px;}
			#infoVote {float:left; margin:40px 0 20px 0; font-size:16px; text-transform:uppercase; font-family: 'Raleway', sans-serif; color:#000; width:280px;}
				#infoVote div {float:left;}
				#infoVote div.vResult { float:right; padding:10px 0 0 0;}
				#infoVote .rounded { padding:2px 5px;}
		
		#mainInner.repInfo { padding:20px 0 10px 0; margin:0 3%; }
			#profilePic { width:180px; height:200px; float:left; margin:0 0 0 0; padding:0 10px 0 0; background:#fff;}
			#profileInfo {font-size:18px; text-transform:uppercase; margin:0; float:none; width:auto;}
			
			#infoSocnet {float:left;}
			#profileInfo #infoSocnet {margin-top:60px;}
				#infoSocnet img {padding:5px 5px 10px 0;}
			
			#scoreTbl {width:320px; background:#FFF; overflow:hidden; }
			.voteResultsBox #scoreTbl {width:290px; background:#FFF; overflow:hidden; }
			#mainInner.repInfo  #scoreTbl { float:left; width:420px; margin-top:3px; }
			#mainInner.resInfo #scoreTbl { margin:0 0 10px 0; float:right; }
				#scoreTbl td {width:50%; text-align:center; vertical-align:middle; }
				.repScore, .demScore {    font-size: 60px;
    line-height: 88px;
    font-family: 'Lato', sans-serif; }
				.curScore, .lifeScore {font-size:60px; line-height:103px; font-family: 'Lato', sans-serif; padding:5px 0; }
				.repScore { color:#e00035; background:#efefef }
				.demScore { color:#548fdd; background:#e8e8e8}
				.curScore { color:#178b52; background:#efefef}
				.lifeScore { color:#e00035; background:#e8e8e8}
				.lScoreLbl {background:#dfdfdf; height:20px;}
				.rScoreLbl {background:#d9d9d9; height:20px;}
			#sortDrop{ position:absolute; top:20px; right:3%;}
			#mainInner.repInfo #sortDrop {right:0;}
			
			#graphBox {width:480px; float:right;}
				#graphBox h2 {float:left; text-transform:uppercase; color:#5e6963;}
				#graphBox a { float:right; padding:5px 0 0 0; text-transform:uppercase; color:#178B52;}
				#scoreGraph {width:480px; background-color:#e8e8e8; padding:16px 0; min-height:50px; }
					#graphRow { height:31px; padding:0 0 0 55px; margin:0 50px 0 0; border-right:1px solid #d7d7d7;}
						#gRowIcon {float:left; width:54px; height:30px; text-align:center; border-right:1px solid #d7d7d7; margin:0 0 0 -55px;}
							#gRowIcon i {margin:5px 0 0 0;}
						#gRowBar { height:22px; margin:4px 0 5px 0; float:left; background:#178b52; width:50%}
							#gRowBar.red {background:#e00035;}
						#gRowNum {height:22px; width:50px; float:right; margin:0 -50px 0 0; text-align:center; background:#fff; color:#178b52; font-family: 'Lato', sans-serif; line-height:22px; font-size:16px;} 
							#gRowBar.red #gRowNum {color:#e00035;}
							
		/*results data*/
		#resultsTbl{ width:100%;}
			#resultsTbl td {height:40px; vertical-align:middle; padding:5px 5px;}
			#resultsTbl tr:nth-child(even) {background: #e8e8e8;}
			td.title { text-transform:uppercase; font-family: 'Raleway', sans-serif; font-size:16px; line-height:20px; color:#000;  font-weight:normal;}
			.padCol { width:3%; padding:0;}
			/* Column Sets below should add up to 94% */
			/*Columns - State, Name, Zip Results*/
			.nameCol { width:28%;}
			.stateCol {width:10%; }
			.districtCol {width:12%;}
			.partyCol {width:10%;}
			.cGradeCol {width:17%;}
			.pGradeCol {width:17%;}
			/*Columns - Vote Results*/
			#resultsTbl.voteResults .nameCol { width:34%;}
			#resultsTbl.voteResults .partyCol {width:15%;}
			#resultsTbl.voteResults .stateCol {width:15%; }
			#resultsTbl.voteResults .scoreCol {width:15%;}
			#resultsTbl.voteResults .votedCol {width:15%;}
			/*Columns - Issue Results*/
			#resultsTbl.issueResults .vNumCol {width:12%;}
			#resultsTbl.issueResults .dateCol {width:12%;}
			#resultsTbl.issueResults .descripCol {width:50%;}
			#resultsTbl.issueResults .afpPosCol {width:10%;}
			#resultsTbl.issueResults .avgScoreCol {width:10%;}
			/*Columns - Overall Results*/
			#resultsTbl.overallResults .tagCol {width:5%}
			#resultsTbl.overallResults .vNumCol {width:8%;}
			#resultsTbl.overallResults .chamberCol {width:10%}
			#resultsTbl.overallResults .dateCol {width:8%;}
			#resultsTbl.overallResults .descripCol {width:35%;}
			#resultsTbl.overallResults .gopAvgCol {width:14%;}
			#resultsTbl.overallResults .demAvgCol {width:14%;}
			/*Columns - Rep Results*/
			#resultsTbl.repResults .tagCol {width:5%}
			#resultsTbl.repResults .vNumCol {width:8%;}
			#resultsTbl.repResults .dateCol {width:8%;}
			#resultsTbl.repResults .chamberCol {width:12%}
			#resultsTbl.repResults .descripCol {width:37%;}
			#resultsTbl.repResults .afpPosCol {width:14%;}
			#resultsTbl.repResults .votedCol {width:10%;}
		
	/*Sidebar*/
	#sidebar {width:285px; float:right; padding:3px 25px 20px; margin:0 -345px 0 0; background:#fff; min-height: 530px; position: relative;}
		#sidebar label {font-size:12px; color:#9999a2;}
		#sidebar > iframe {border: none; height: 400px; /*position: absolute;*/}
		.joinField {width:94%; height:32px; padding:0 3%; margin-bottom:13px; border:1px solid #cdcdcd; line-height:32px; font-family: 'Raleway', sans-serif; font-size:15px;}
		#submitOuter {width:100%; height:42px; margin:0 0 -20px -25px; padding:20px 25px; background:#e4e4e4; border-top:6px solid #FFF; text-align:center; }
		
		/*Alerts Sidebar*/
		.alertSearchBox {float:left; width:100%;}
		#sidebar .searchField { width:110px; padding:0 35px; background:url(../images/icon-search.png) left center no-repeat #232726; }
		#sidebar .searchSubmit {border:none; width:25px; height:32px; margin:0 0 0 5px; font-family: 'Raleway', sans-serif; font-size:14px;}
		.chamberBtn {float:left; margin:0 10px 0 0; color:#FFF;}
		.issueItem { float:left; font-size:14px; color:#000; font-family: 'Raleway', sans-serif; width:100%; margin:0 0 12px 0; }
			.issueItem i {width:43px; margin-bottom:-5px}

/*All Results tabs*/
.overallBtns 	{margin-left:0px;}		
.overallBtn 	{margin-left:10px; cursor:pointer;padding: 0 6px;}

			
/*FOOTER ROW*/
#rowOuter.footer{position:relative;width:100%; margin-top:-153px; background:#1a1a1a; 
    text-align: center;}
	#conBox.footer{padding:25px 30px 0 30px; background:none;}
	#footBox {width:100%; padding:10px 0 0 0; font-family: 'Raleway', sans-serif; text-transform:uppercase; text-align: center;}
		#footBox a {margin:0 5px 0 15px; color:#178552;font-family: 'Raleway'; line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.2em;    font-size: 14px;}
		.footInfo {
			color:#666666; margin:0 0 0 15px; line-height:15px; display:block; font-family: 'Raleway';
    font-weight: 700;
    letter-spacing: 0.2em;    font-size: 10px; padding-bottom: 3em; margin-top: 1em;
		}
	#sidebar.footer {width:280px;  padding:0 20px 0 20px; margin:0 auto; background:none; float: none;}
		#footBtn {float:left; margin:4px 0 0 8px}
		#footBtn .dropArrow { margin:0 0 -3px 35px;}

	.logoFoot {
		display: inline-block;
		margin-bottom: 30px;
	}

	.logoFoot img {
		height:60px;
		width: auto;
	}

#footBtn {



}

#footBtn .afpGrey .selectyzeValue {
	width: auto;
    padding-right: 24px;
}

#footBtn .afpGrey .UlSelectize {
	height: 4em;
	overflow: scroll;
}
		
/*Development Changelog*/
.devAlert 	{position:fixed; background:red; color:#fff; padding:10px; z-index: 99999}
.changelog  {margin-top:8px; font-size:11px; display:none; }
.changelog 	h5 {margin:4px 0; font-size:12px;}
.openLog 	{margin-left:5px; text-decoration:underline}




/*Adding New AFP button styles for take action and donate*/
.button.gold {
    background: linear-gradient(#ffc477 5%, #fb9e25 100%) repeat scroll 0 0 #ffc477;
    border: 1px solid #d18b30;
    box-shadow: 0 1px 0 0 #fce2c1 inset;
    color: #703f00;
}

.button.gold:hover {
    background: linear-gradient(#fb9e25 5%, #ffc477 100%) repeat scroll 0 0 #fb9e25;
    opacity:1 !important;
}


.button.red {
    background: linear-gradient(#f24537 5%, #c62d1f 100%) repeat scroll 0 0 #f24537;
    border: 1px solid #d02718;
    box-shadow: 0 1px 0 0 #f5978e inset;
    color: #540700;
}

.button.red:hover {
    background: linear-gradient(#c62d1f 5%, #f24537 100%) repeat scroll 0 0 #c62d1f;
    opacity:1 !important;
}
